Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #55721: asterisk 1:13.14.1~dfsg-2+deb9u8
  doc/errata/staging/asterisk.yaml
Due: errata validation

Bug #55683: Modify test scenarios for app-testing
  test/scenarios/app-testing/autotest-100-app-master-no-samba.cfg
  test/scenarios/app-testing/autotest-101-app-master-s4.cfg
  test/scenarios/app-testing/autotest-102-app-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-103-app-backup-s4.cfg
  test/scenarios/app-testing/autotest-104-app-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-105-app-slave-s4.cfg
  test/scenarios/app-testing/autotest-106-app-member-no-samba.cfg
  test/scenarios/app-testing/autotest-107-app-member-s4.cfg
Due: none

Bug #55683: Update install_apps_via_umc to install a specific version of the MAIN_APP
  test/utils/utils.sh
Due: none

Bug #54390: Move server password change in ad membermode out of univention-samba
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
  services/univention-ad-connector/debian/univention-ad-connector.install
  services/univention-ad-connector/server_password_change.d/univention-admember
  services/univention-samba/debian/changelog
  services/univention-samba/server_password_change.d/univention-samba
  test/ucs-test/tests/01_base/02server_password_change
  test/ucs-test/tests/01_base/02server_password_change_ldap-bind
Due: deb-pipeline, errata validation

Bug #54390: update advisory
  doc/errata/staging/univention-ad-connector.yaml
  doc/errata/staging/univention-samba.yaml
Due: errata validation

Issue #56: add Jenkins job for Kelvin performance tests (univention/components/ucsschool-kelvin-rest-api#56)
  test/scenarios/autotest-241-ucsschool-kelvin-performance.cfg
Due: none

Bug #55720: firefox-esr 102.8.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: errata validation

fix(udm): slow and invalid syntax for IComputer_FQDN
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline, errata validation

Bug #33684: univention-directory-manager-modules 15.0.20-2A~5.0.0.202302171803
  doc/errata/staging/univention-directory-manager-modules.yaml
Due: errata validation

Issue #312: added windows client env
  test/scenarios/base/ucs-primary-with-windows-client.cfg
  test/utils/start-ucs-primary-with-windows-client.sh
Due: none

Issue #312: added windows client env
  test/utils/start-ucs-primary-with-windows-client.sh
Due: none

Bug #55681: Install syntax, hooks and scripts in univention-fetchmail-schema
  mail/univention-fetchmail/debian/control
  mail/univention-fetchmail/debian/rules
  mail/univention-fetchmail/debian/univention-fetchmail-schema.install
  mail/univention-fetchmail/debian/univention-fetchmail.install
Due: deb-pipeline

Bug #55682: changelog and advisory
  doc/errata/staging/univention-fetchmail.yaml
  mail/univention-fetchmail/debian/changelog
Due: deb-pipeline, errata validation

Bug #55681: changelog and advisory
  doc/errata/staging/univention-fetchmail.yaml
  mail/univention-fetchmail/debian/changelog
Due: deb-pipeline, errata validation

Bug #55682: Load fetchmailrc correctly in fetchmail listener
  mail/univention-fetchmail/fetchmailrc.py
Due: deb-pipeline

Bug #55723: gnutls28 3.6.7-4+deb10u10
  doc/errata/staging/gnutls28.yaml
Due: errata validation

Bug #55682: Update advisory
  doc/errata/staging/univention-fetchmail.yaml
Due: errata validation

Bug #55724: c-ares 1.12.0-1+deb9u3
  doc/errata/staging/c-ares.yaml
Due: errata validation

Issue #312: Update README.md
  test/scenarios/kvm-templates/README.md
Due: none

Bug #54390: remove samba password change workaround
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #42840: Retrigger objects when changing sync mode
  test/ucs-test/debian/changelog
  test/ucs-test/tests/55_adconnector/159sync_ad_create_non_domain_user
  test/ucs-test/tests/55_adconnector/259read_ad_create_non_domain_user
  test/ucs-test/tests/55_adconnector/263read_ad_remove_capital_user_from_group
Due: deb-pipeline

Bug #42840: Retrigger objects when changing sync mode
  test/ucs-test/tests/52_s4connector/159sync_ad_create_non_domain_user
  test/ucs-test/tests/52_s4connector/259read_ad_create_non_domain_user
  test/ucs-test/tests/52_s4connector/516_create_delete_objects_in_ucs_check_sync.py
Due: deb-pipeline

Bug #55727: Advisory for 5.0-2 backport
  doc/errata/staging/samba.yaml
Due: errata validation

fixup! Issue #312: Update README.md
  test/scenarios/kvm-templates/README.md
Due: none

Bug #55686: Fix xidNumber decoding in samba4-idmap.py
  services/univention-samba4/debian/changelog
  services/univention-samba4/debian/univention-samba4.postinst
  services/univention-samba4/samba4-idmap.py
Due: deb-pipeline

fix(umc): fix UCR template when (default) value is set
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/conffiles/etc/apache2/sites-available/univention.conf
  management/univention-management-console/debian/changelog
Due: deb-pipeline, errata validation

Bug #55686: Advisory
  doc/errata/staging/univention-samba4.yaml
Due: errata validation

chore(univention-management-console): update advisory
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

Bug #55727: samba ANNOUNCE
  doc/errata/published/2023-02-20_577_samba.yaml
Due: none

Bug #50593: Don't fail if original problem couldn't be reproduced
  test/ucs-test/tests/52_s4connector/516_create_delete_objects_in_ucs_check_sync.py
Due: deb-pipeline

test: fix removed exception handling
  test/ucs-test/tests/59_udm/68_test_udm_extendedattribute.py
Due: deb-pipeline

fixup! Bug #55346: prevent username enumeration on the self-service passwordreset-page
  test/ucs-test/debian/changelog
  test/ucs-test/tests/83_self_service/03_test_blacklist
  test/ucs-test/tests/83_self_service/test_self_service.py
Due: deb-pipeline

fixup! Bug #55686: Fix xidNumber decoding in samba4-idmap.py
  services/univention-samba4/samba4-idmap.py
Due: deb-pipeline

Bug #55686: Advisory update
  doc/errata/staging/univention-samba4.yaml
Due: errata validation

docs(manual): link to Python 3 documentation
  doc/manual/computers/ucr.rst
  doc/manual/links.txt
  doc/manual/locales/de/LC_MESSAGES/computers.po
Due: doc-pipeline

Issue #1457: Add reference to advisory guide
  doc/errata/staging/README.md
Due: none
