Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #55915: replace `imghdr` import with `filetype`
  management/univention-portal/debian/control
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

refactor(python): Drop python3-typing-extensions
  management/univention-join/dh-univention-join-install
  test/ucs-test/debian/control
  test/ucs-test/univention/testing/browser/process_overview.py
  test/ucs-test/univention/testing/ldif.py
  test/ucs-test/univention/testing/network.py
Due: deb-pipeline

churn: Replace transitional package dependencies
  .gitlab/CODEOWNERS
  base/univention-bootsplash/debian/control
  base/univention-bootsplash/univention-welcome-screen
  base/univention-errata-level/maintained-packages.txt
  monitoring/univention-monitoring-client/debian/control
  monitoring/univention-nagios-raid/debian/control
  services/univention-foomatic-ppds/debian/changelog
  services/univention-foomatic-ppds/debian/control
  services/univention-foomatic-ppds/debian/copyright
  services/univention-foomatic-ppds/debian/rules
Due: deb-pipeline

Issue #1885: added keycloak migration check
  base/univention-updater/script/check.sh
Due: deb-pipeline

fix(docker): Disable ip(6)tables in docker config
  container/univention-docker/conffiles/etc/docker/daemon.json
Due: deb-pipeline

Bug #55915: remove `try` from `import typing`
  base/univention-config-registry/python/univention/config_registry/misc.py
  doc/changelog/staged/changelog-general.55915.rst
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/pam.py
  packaging/univention-debhelper/univention/debhelper.py
Due: doc-pipeline, deb-pipeline

doc(changelog): UCS 5.2-0
  doc/changelog/conf.py
  doc/changelog/index.DO-NOT-TOUCH
  doc/changelog/index520.rst
  doc/release-notes/conf.py
  doc/release-notes/index.DO-NOT-TOUCH
  doc/release-notes/index52.rst
Due: doc-pipeline

refactor(python): Drop python3-typing-extensions
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

fix(appcenter): handle not found app
  management/univention-appcenter/conffiles/usr/share/univention-management-console/i18n/de/apps.mo
Due: deb-pipeline

refactor(up): Fix type annotation
  base/univention-updater/conftest.py
  base/univention-updater/debian/control
  base/univention-updater/modules/univention/updater/errors.py
  base/univention-updater/modules/univention/updater/locking.py
  base/univention-updater/modules/univention/updater/mirror.py
  base/univention-updater/modules/univention/updater/repo_url.py
  base/univention-updater/modules/univention/updater/repository.py
  base/univention-updater/modules/univention/updater/scripts/actualize.py
  base/univention-updater/modules/univention/updater/scripts/policy_repo_server.py
  base/univention-updater/modules/univention/updater/scripts/updater.py
  base/univention-updater/modules/univention/updater/scripts/upgrade.py
  base/univention-updater/modules/univention/updater/tools.py
  base/univention-updater/script/check.sh
  base/univention-updater/tests/mockups.py
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

fix(docker): replace patch with systemd drop-in
  container/univention-docker/debian/univention-docker.install
  container/univention-docker/systemd/20-univention-firewall.conf
Due: deb-pipeline

WIP: remove saml joinscript
  saml/univention-saml/91univention-saml.inst
Due: deb-pipeline

DROPME: increase RAM of VMs for testing to 8GB
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-090-master-no-samba.cfg
  test/scenarios/autotest-090-master-part-II-no-samba.cfg
  test/scenarios/autotest-091-master-part-II-s4.cfg
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-201-ucsschool-singleserver-s4.cfg
  test/utils/start-test.sh
Due: none

Bug #55915: removed typing.Text because it's deprecated
  base/univention-updater/modules/univention/updater/tools.py
Due: deb-pipeline

Bug #55915: import `zoneinfo` without `try`
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Issue #1682: openLDAP bdb->mdb migration
  doc/changelog/index520.rst
  management/univention-ldap/01univention-ldap-server-init.inst
  management/univention-ldap/conffiles/etc/init.d/slapd
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/31modules
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/99translog
  management/univention-ldap/conffiles/var/lib/univention-ldap/ldap/DB_CONFIG
  management/univention-ldap/conffiles/var/lib/univention-ldap/translog/DB_CONFIG
  management/univention-ldap/debian/univention-ldap-server.postinst
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
  management/univention-ldap/scripts/setup-translog
Due: doc-pipeline, deb-pipeline

doc(changelog): UCS 5.2-0 REVERT ME
  doc/.gitignore
  doc/changelog/conf.py
  doc/changelog/index520.rst
Due: doc-pipeline

chore: set --ucsversionstart flag to 5.0-6
  doc/changelog/staged/changelog-general.56124.rst
  doc/manual/central-management-umc/portal.rst
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  mail/univention-fetchmail/92univention-fetchmail-schema.inst
  management/univention-appcenter/30univention-appcenter.inst
  management/univention-join/20univention-join.inst
  management/univention-portal/33univention-portal.inst
  management/univention-self-service/univention-self-service-register-acl
  monitoring/univention-monitoring-client/30univention-monitoring-client.inst
  services/univention-radius/80univention-radius.inst
  services/univention-s4-connector/97univention-s4-connector.inst
Due: doc-pipeline, deb-pipeline

Bug #55915: import `html` without `try`
  management/univention-appcenter/conffiles/usr/share/univention-management-console/modules/apps.xml
  management/univention-directory-reports/modules/univention/directory/reports/admin.py
Due: deb-pipeline

DROPME: test(setup): update system to latest omar.knut packages before executing the tests
  test/utils/utils.sh
Due: none

fix(base-files): /sbin/udevadm → /bin/udevadm
  base/univention-base-files/conffiles/xkbKeyboard.py
  doc/changelog/staged/changelog-basis-ucr-template.56665.rst
Due: doc-pipeline, deb-pipeline

Bug #55915: remove `unicode` backward compatability
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

DROPME: use https://updates-test.software-univention.de/ as repository server
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

refactor(bootsplash): shellcheck
  base/univention-bootsplash/univention-welcome-screen
Due: deb-pipeline

fix(univention-keycloak): install univention-keycloak-migration-status
  services/univention-keycloak/debian/univention-keycloak-client.install
Due: deb-pipeline

Bug #55915: remove `try` from `import email_validator`
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

fix(up): remove old package sources during update
  base/univention-updater/script/preup.sh
Due: deb-pipeline

Issue #1682: openLDAP bdb->mdb migration
  base/univention-updater/script/check.sh
  doc/ext-performance/index.rst
Due: doc-pipeline, deb-pipeline

build(univention-ldap-client): adjust libldap dependency
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/staged/changelog-lib.56596.rst
  management/univention-ldap/debian/control
Due: doc-pipeline, deb-pipeline

feat(appcenter): Add Postgres 15 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/15/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

docs: UCS 5.2
  doc/README.md
  doc/app-center/README.md
  doc/app-center/app-provider-5.0.html
  doc/app-center/conf.py
  doc/app-center/configurations.rst
  doc/app-center/get_started.rst
  doc/app-center/lifecycle.rst
  doc/app-center/links.txt
  doc/architecture/conf.py
  doc/architecture/links.txt
  doc/bibliography-de.bib
  doc/bibliography.bib
  doc/changelog/README.md
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/developer-reference/developer-reference-5.0.html
  doc/developer-reference/packaging.rst
Due: doc-pipeline

fix(nfs): NFS-kernel-service is a oneshot service.
  doc/changelog/staged/changelog-service-nfs.56545.rst
  services/univention-nfs/debian/univention-nfs-server.install
  services/univention-nfs/univention-nfs.conf
Due: doc-pipeline, deb-pipeline

test(dockertest): Add UCS 5.2 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.11
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

chore: replace UCS version to 5.2
  README.dev.md
  base/univention-system-activation/www/ActivationWizard.js
  base/univention-updater/README.md
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  management/univention-portal/frontend/builder/sources.list
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postinst
Due: deb-pipeline

feat(univention-dvd): DVD UCS 5.2-0
  base/univention-dvd/data/ucs520/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs520/amd64_udeb_include
  base/univention-dvd/data/ucs520/exclude-udebs
  base/univention-dvd/data/ucs520/exclude-udebs-amd64
  base/univention-dvd/data/ucs520/grub-theme.in
  base/univention-dvd/data/ucs520/hl_c.png
  base/univention-dvd/data/ucs520/udeb_exclude
  base/univention-dvd/debian/control
  base/univention-dvd/tasks/ucs520/empty
  base/univention-dvd/tasks/ucs520/exclude
  base/univention-dvd/tasks/ucs520/forcd1
  base/univention-dvd/tasks/ucs520/task-ucs520
  base/univention-dvd/tools/boot/ucs520/boot-amd64
  base/univention-dvd/tools/boot/ucs520/boot-x86
  base/univention-dvd/tools/boot/ucs520/common.sh
  base/univention-dvd/tools/boot/ucs520/parse_isolinux
  base/univention-dvd/tools/boot/ucs520/x86-desktop.sh
  base/univention-dvd/tools/ucs520
  base/univention-dvd/ucs520.conf
Due: deb-pipeline

Bug #55927?: new builtin OIDs in openldap 2.5
  management/univention-directory-replication/oid_skip.txt
Due: deb-pipeline

feat(pkgdb): Add Postgres 15 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/15/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

fix(postgresql): Update PostgreSQL 13 -> 15
  base/univention-errata-level/maintained-packages.txt
  services/univention-admin-diary/README.md
  services/univention-postgresql/conffiles/etc/postgresql/15/main/pg_hba.conf.d/00-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/15/main/pg_hba.conf.d/99-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/15/main/pg_ident.conf.d/00-pg_ident.conf
  services/univention-postgresql/conffiles/etc/postgresql/15/main/postgresql.conf
  services/univention-postgresql/debian/control
  services/univention-postgresql/debian/univention-postgresql-13.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-13.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-13.univention-service
  services/univention-postgresql/debian/univention-postgresql-15.postinst
  services/univention-postgresql/debian/univention-postgresql-15.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-15.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-15.univention-service
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry-variables
  test/utils/utils.sh
Due: deb-pipeline

fix(bind9): bind9 service was renamed to named
  base/univention-network-manager/etc/network/if-up.d/00_resolvconf
  base/univention-system-setup/umc/python/setup/netconf/modules/RestartBind.py
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/30_net/16forwarder
  doc/app-center/configurations.rst
  doc/changelog/staged/changelog-domain-dnsserver.56003.rst
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/windows/trust.rst
  management/univention-join/univention-join
  management/univention-ldap/univention-backup2master
  management/univention-management-console-module-adtakeover/umc/python/adtakeover/takeover.py
  services/univention-apache/univention-add-vhost
  services/univention-bind/05univention-bind.inst
  services/univention-bind/90univention-bind-post.inst
  services/univention-bind/bind.py
  services/univention-bind/conffiles/etc/network/if-down.d/bind9
  services/univention-bind/conffiles/etc/network/if-up.d/bind9
  services/univention-bind/conffiles/etc/systemd/system/named.service.d/10-configure-backend.conf
  services/univention-bind/conffiles/etc/systemd/system/univention-bind-ldap.service
  services/univention-bind/debian/univention-bind.maintscript
  services/univention-bind/debian/univention-bind.postinst
  services/univention-bind/debian/univention-bind.univention-config-registry
  services/univention-bind/debian/univention-bind.univention-service
  services/univention-bind/usr/lib/univention-server/server_password_change.d/univention-bind
  services/univention-s4-connector/97univention-s4-connector.inst
  services/univention-samba4/98univention-samba4-dns.inst
  services/univention-samba4/debian/univention-samba4.prerm
  services/univention-samba4/scripts/migrate_legacy_dns_zones.sh
  test/product-tests/component/office365.cfg
  test/product-tests/component/office365_update.cfg
  test/product-tests/samba/ad-trust.sh
  test/product-tests/samba/bigenv.sh
  test/scenarios/autotest-090-master-no-samba.cfg
  test/ucs-test/tests/00_checks/99check_log_files.py
  test/ucs-test/tests/01_base/02server_password_change_ldap-bind
  test/univention-demo-configuration/debian/univention-demo-configuration.init
Due: doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
