Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #56032: linux 4.19.282
  doc/errata/published/2023-05-03_658_linux-signed-amd64.yaml
  doc/errata/published/2023-05-03_659_linux.yaml
  doc/errata/published/2023-05-03_660_linux-latest.yaml
Due: none

Bug #56376: linux 4.19.289-1
  doc/errata/published/2023-08-02_761_linux.yaml
  doc/errata/published/2023-08-02_762_linux-signed-amd64.yaml
  doc/errata/published/2023-08-02_763_linux-latest.yaml
Due: none

test(browser): Enable Chromium remote debugging
  test/ucs-test/debian/changelog
  test/ucs-test/tests/86_browser/conftest.py
Due: deb-pipeline

ci(pre-commit): update to ruff 0.1.4
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fixup! style(test): autofix ruff style fixes
  test/ucs-test/debian/changelog
  test/ucs-test/tests/59_udm/50_test_udm_api.py
Due: deb-pipeline

feat(udm-rest-api): build the UDM REST API Client using setup.py setuptools
  management/univention-directory-manager-rest/pyproject.toml
  management/univention-directory-manager-rest/setup_client.py
Due: deb-pipeline

ci: also package setup.py packages using setuptools in the pip-pipeline.
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
Due: none

ci: pipeline to evaluate pyproject.toml and spawn child pipelines to build pip-packages
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
  .gitlab-ci/base.yml
Due: none

feat(udm-rest-api): build the UDM REST API Client package using hatch
  management/univention-directory-manager-rest/pyproject.toml
Due: deb-pipeline

fixup! feat(udm-rest-api): build the UDM REST API Client package using hatch
  .gitlab-ci/base-pip.yml
Due: none

Bug #56819: disable access to password hashes of krbtgt users for managed nodes
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/70univention-ldap-server_acl-master-end
  management/univention-ldap/debian/changelog
  management/univention-ldap/debian/univention-ldap-acl-master.univention-config-registry
Due: deb-pipeline

Issue #39 (univention/open-xchange/provisioning#39) run ox-connector tests
  test/product-tests/component/ox-appsuite.cfg
Due: none

Bug #56791: check if keycloak initialization succeded before aborting on next try
  doc/errata/staging/univention-keycloak.yaml
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

feat(udm-nagios): mark unused Nagios properties as optional
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-ldap.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/service.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/timeperiod.py
  management/univention-ldap/debian/changelog
  management/univention-ldap/schema/nagios.schema
Due: deb-pipeline

feat(univention-dvd): DVD UCS 5.1-0
  base/univention-dvd/data/ucs510/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs510/amd64_udeb_include
  base/univention-dvd/data/ucs510/exclude-udebs
  base/univention-dvd/data/ucs510/exclude-udebs-amd64
  base/univention-dvd/data/ucs510/grub-theme.in
  base/univention-dvd/data/ucs510/hl_c.png
  base/univention-dvd/data/ucs510/udeb_exclude
  base/univention-dvd/data/ucs510/udeb_include
  base/univention-dvd/tasks/ucs510/empty
  base/univention-dvd/tasks/ucs510/exclude
  base/univention-dvd/tasks/ucs510/forcd1
  base/univention-dvd/tasks/ucs510/task-ucs510
  base/univention-dvd/tools/boot/ucs510/boot-amd64
  base/univention-dvd/tools/boot/ucs510/boot-x86
  base/univention-dvd/tools/boot/ucs510/common.sh
  base/univention-dvd/tools/boot/ucs510/parse_isolinux
  base/univention-dvd/tools/boot/ucs510/x86-desktop.sh
  base/univention-dvd/tools/ucs510
  base/univention-dvd/ucs510.conf
Due: deb-pipeline

fixup! feat(univention-dvd): DVD UCS 5.1-0
  base/univention-dvd/tasks/ucs510/task-ucs510
Due: deb-pipeline

feat(updater): UCS 5.1 increase version/* UCR variables
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

chore: replace UCS version to 5.1
  README.dev.md
  base/univention-system-activation/www/ActivationWizard.js
  base/univention-updater/README.md
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  management/univention-portal/frontend/builder/sources.list
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postinst
Due: deb-pipeline

ci(gitlab): UCS 5.1-0
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
Due: none

WIP ci(jenkins): UCS 5.1
  test/utils/start-test.sh
Due: none

feat(updater): preup.sh: UCS 5.1
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

fixup! DVD UCS 5.1-0
  base/univention-dvd/UNIVENTION_NEW_UCS_RELEASE
  base/univention-dvd/data/ucs510/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs510/amd64_udeb_include
  base/univention-dvd/data/ucs510/exclude-udebs
  base/univention-dvd/data/ucs510/exclude-udebs-amd64
  base/univention-dvd/data/ucs510/hl_c.png
  base/univention-dvd/tasks/ucs510/forcd1
  base/univention-dvd/tools/boot/ucs510/boot-amd64
  base/univention-dvd/tools/boot/ucs510/boot-x86
  base/univention-dvd/tools/boot/ucs510/common.sh
  base/univention-dvd/tools/boot/ucs510/x86-desktop.sh
  base/univention-dvd/tools/ucs510
  base/univention-dvd/ucs510.conf
Due: deb-pipeline

feat(56134): add preup check to remove obsolete objects
  base/univention-updater/script/check.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

docs: UCS 5.1
  doc/README.md
  doc/app-center/README.md
  doc/app-center/app-provider-5.0.html
  doc/app-center/conf.py
  doc/app-center/configurations.rst
  doc/app-center/get_started.rst
  doc/app-center/lifecycle.rst
  doc/app-center/links.txt
  doc/architecture/conf.py
  doc/architecture/links.txt
  doc/bibliography-de.bib
  doc/bibliography.bib
  doc/changelog/README.md
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/developer-reference/developer-reference-5.0.html
  doc/developer-reference/packaging.rst
Due: doc-pipeline

feat(updater): Require all systems in the domain to have UCS 5.0-5 to upgrade
  base/univention-updater/script/check.sh
Due: deb-pipeline

Bug #56821: postgresql-11 11.22-0+deb10u1
  doc/errata/staging/postgresql-11.yaml
Due: none

Bug #56822: python-urllib3 1.24.1-1+deb10u2
  doc/errata/staging/python-urllib3.yaml
Due: none

test: drop Python 2.7
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
  test/ucs-test/tests/59_udm/72_test_udm_extensions.py
  test/ucs-test/univention/testing/coverage.py
  test/ucs-test/univention/testing/udm_extensions.py
Due: deb-pipeline

docs(developer-reference): remove required Python 2.7 directories
  doc/developer-reference/udm/package-extended-attributes.rst
  doc/developer-reference/udm/syntax.rst
  doc/developer-reference/udm/udm-modules.rst
Due: doc-pipeline

chore(python): remove python2.7/sitecustomize
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/00header.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/10apport.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/20utf8.py
  base/univention-base-files/debian/ucslint.overrides
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
Due: deb-pipeline

feat(UDM): only register Python 3 UDM extensions
  management/univention-directory-manager-modules/listener/udm_extension.py
Due: deb-pipeline

feat(UMC): remove UMC modules for Python 2
  management/univention-management-console/dev/dh-umc-module-install
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/resources.py
  packaging/univention-l10n/univention/l10n/umc.py
Due: deb-pipeline

chore(univention-errata-level): remove python packages from unmaintained
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

feat(nagios): check only for Python 3 services
  monitoring/univention-monitoring-client/alerts-ad-connector/check_univention_ad_connector
  monitoring/univention-monitoring-client/alerts-s4-connector/check_univention_s4_connector
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector
  monitoring/univention-nagios-s4-connector/check_univention_s4_connector
Due: deb-pipeline

docs(developer-reference): remove Python 3 migration from developer-reference
  doc/developer-reference/ucr/index.rst
  doc/developer-reference/ucr/python3.rst
  doc/developer-reference/udm/index.rst
  doc/developer-reference/udm/python3-migration.rst
  doc/developer-reference/umc/index.rst
  doc/developer-reference/umc/python-migration.rst
Due: doc-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.9
  doc/changelog/staged/changelog-domain-openldap-replication.56533.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
