Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

feat(nagios): check only for Python 3 services
  monitoring/univention-monitoring-client/alerts-ad-connector/check_univention_ad_connector
  monitoring/univention-monitoring-client/alerts-s4-connector/check_univention_s4_connector
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector
  monitoring/univention-nagios-s4-connector/check_univention_s4_connector
Due: deb-pipeline

refactor(memberof): require memberof to be enabled
  base/univention-system-setup/umc/python/setup/checks/univention_join.py
  base/univention-system-setup/umc/python/setup/util.py
  base/univention-system-setup/usr/share/univention-system-setup/www/ApplianceWizard.js
  doc/changelog/staged/changelog-domain-openldap.56662.rst
  doc/changelog/staged/relnotes-changelog.56662.rst
  doc/manual/appendix/variables.rst
  doc/manual/groups.rst
  doc/manual/locales/de/LC_MESSAGES/groups.po
  management/univention-directory-replication/replication.py
  management/univention-join/univention-join
  management/univention-ldap-overlay-memberof/conffiles/etc/ldap/slapd.conf.d/41univention-ldap-overlay-memberof
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.postinst
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.univention-config-registry-variables
  management/univention-ldap-overlay-memberof/univention-update-memberof
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/58_check_memberOf.py
  test/ucs-test/tests/10_ldap/92_memberOf
Due: doc-pipeline, deb-pipeline

WIP test(docker): transform ucs-appbox tests into tiny_app
  test/ucs-test/tests/80_docker/40_app_umc_install_latest_appbox.py
  test/ucs-test/tests/80_docker/51_app_install.py
  test/ucs-test/tests/80_docker/51_app_install_with_required_app.py
  test/ucs-test/tests/80_docker/54_app_preinst.py
  test/ucs-test/tests/80_docker/55_app_modproxy.py
  test/ucs-test/tests/80_docker/57_app_without_package.py
  test/ucs-test/tests/80_docker/58_app_uninstallation.py
  test/ucs-test/tests/80_docker/61_app_updater_identify.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/ucs-test/tests/80_docker/68_extended_attributes.py
  test/ucs-test/tests/80_docker/69_app_install_update_remove_hooks.py
  test/ucs-test/tests/80_docker/70_app_scaling.py
  test/ucs-test/tests/80_docker/71_app_configure.py
  test/ucs-test/tests/80_docker/72_app_update_certificates.py
  test/ucs-test/tests/80_docker/73_app_listener_integration.py
  test/ucs-test/tests/80_docker/75_app_ports_exclusive.py
  test/ucs-test/tests/80_docker/76_app_ports_redirect.py
  test/ucs-test/tests/80_docker/77_app_ports_conflicts_exclusive.py
  test/ucs-test/tests/80_docker/78_app_ports_conflicts_redirect.py
  test/ucs-test/tests/80_docker/79_app_ports_already_used.py
  test/ucs-test/tests/80_docker/85_docker_compose.py
  test/ucs-test/tests/80_docker/86_docker_reinitialize.py
  test/ucs-test/tests/80_docker/87_docker_iptables.py
  test/ucs-test/tests/80_docker/88_docker_env_file.py
  test/ucs-test/tests/80_docker/89_app_configure_reinitialize.py
  test/ucs-test/tests/80_docker/92_ucr_template_mechanism_for_DockerScriptInit.py
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(pam): replace upstream removed libpam-cracklib with libpam-pwquality
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/conffiles/etc/pam.d/common-password
  base/univention-pam/debian/control
  base/univention-pam/tests/test_common_all
  base/univention-pam/tests/test_common_cache
  base/univention-pam/tests/test_common_default
  base/univention-pam/tests/test_common_krb5
  base/univention-pam/tests/test_common_ldap
  base/univention-pam/tests/test_common_none
  base/univention-pam/tests/test_common_unix
  base/univention-pam/tests/test_common_winbind
  doc/changelog/staged/changelog-service-pam.56002.rst
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/80_password
Due: doc-pipeline, deb-pipeline

test(docker): adjust UCS versions in docker tests
  test/ucs-test/tests/80_docker/59_app_center_signature.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
Due: deb-pipeline

feat(pkgdb): Add Postgres 13 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/13/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

fix(simplesamlphp): rebase to upstream
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/listener/univention-saml-simplesamlphp-configuration.py
  saml/univention-saml/simplesamlphp/modules/uldap/lib/Auth/Source/uLDAP.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/core/frontpage_welcome.tpl.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/default/includes/header.php
Due: deb-pipeline

fix(umc): Migrate to Python 3
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

fix(umc): remove leftover UMCP
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/staged/changelog-umc.56538.rst
  management/univention-management-console/data/umc-module.dtd
  management/univention-management-console/debian/control
  management/univention-management-console/debian/univention-management-console-server.service
  management/univention-management-console/debian/univention-management-console-web-server.prerm
  management/univention-management-console/debian/univention-management-console-web-server.service
  management/univention-management-console/scripts/univention-management-console-module
  management/univention-management-console/setup.py
  management/univention-management-console/src/univention/management/console/base.py
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/modules/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/definitions.py
  management/univention-management-console/src/univention/management/console/protocol/deprecated.py
  management/univention-management-console/src/univention/management/console/protocol/message.py
  management/univention-management-console/src/univention/management/console/protocol/session.py
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: doc-pipeline, deb-pipeline

feat(univention-unittest): execute with Python 3 only
  packaging/univention-unittests/univention-unittest
Due: deb-pipeline

Revert "test(mail): partly revert "use systemctl for reloading amavis and postfix""
  test/ucs-test/tests/40_mail/essential/mail.py
Due: deb-pipeline

fix(ldap): replace obsolete ldap client -h/-p options
  base/univention-licence/tools/univention-license-import.in
  base/univention-server/server_password_change
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/setup_utils.sh
  doc/changelog/staged/changelog-domain-openldap.55997.rst
  management/univention-directory-listener/doc.34355/common.sh
  management/univention-join/check_join_status.sh
  management/univention-join/univention-join
  monitoring/univention-nagios/usr/lib/nagios/plugins/check_univention_joinstatus
  saml/univention-saml/91univention-saml.inst
  services/univention-samba4/96univention-samba4.inst
  services/univention-samba4/debian/univention-samba4.postinst
  services/univention-samba4/lib/base.sh
  test/ucs-test/tests/10_ldap/110_univention_lastbind.py
Due: doc-pipeline, deb-pipeline

feat(appcenter): Add Postgres 13 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/13/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

chore(php-krb5): update php-krb5 to 1.1.5
  saml/php-krb5/debian/rules
  saml/php-krb5/krb5-1.1.3.tgz
  saml/php-krb5/krb5-1.1.5.tgz
Due: deb-pipeline

feat(udm): remove UCR variable directory/manager/user/group-memberships-via-memberof=false
  doc/changelog/staged/changelog-umc-udmcli.56253.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: doc-pipeline, deb-pipeline

refactor(grub): disable serial memtest grub entries
  base/univention-grub/conffiles/etc/default/grub
Due: deb-pipeline

fix(simplesamlphp): adjust logging to upstrem
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/simplesamlphp/modules/uldap/lib/Auth/Source/uLDAP.php
Due: deb-pipeline

fix(udl): Fix listener segfault for modules using new listener api
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

ci(jenkins): check for LDAP country migration in pre upgrade
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.9
  doc/changelog/staged/changelog-domain-openldap-replication.56533.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

fix(pam): replace pam_tally with pam_faillock
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-pam/conffiles/etc/pam.d/common-account
  base/univention-pam/conffiles/etc/pam.d/common-auth-nowrite
  base/univention-pam/conffiles/etc/pam.d/common-auth.d/30univention-pam_local
  base/univention-pam/conffiles/etc/security/faillock.conf
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/faillog.py
  base/univention-pam/lock-user
  doc/changelog/staged/changelog-service-pam.56547.rst
  management/univention-directory-manager-modules/python-lib/account.py
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/30_tally
  test/ucs-test/tests/01_base/47faillog
  test/ucs-test/tests/01_base/47faillog-root
Due: doc-pipeline, deb-pipeline

chore(php-krb5): depend on php7.4-dev
  saml/php-krb5/debian/control
Due: deb-pipeline

fix(ldap): Make include of ppolicy.schema optional so that we can remove it in UCS 5.2
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/10univention-ldap-server_schema
Due: deb-pipeline

fix(ad-connector): replace python3-crypto with python3-cryptography
  services/univention-ad-connector/debian/control
  services/univention-ad-connector/modules/univention/connector/ad/password.py
  test/ucs-test/tests/55_adconnector/507_sync_password_history.py
Due: deb-pipeline

feat(udm): remove configurability of country/state property
  doc/changelog/staged/changelog-umc-udmcli.56528.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/scripts/udm-remap-country-from-st-to-c
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/66_udm_country_remap_from_st_to_c.py
  test/ucs-test/tests/00_checks/81_diagnostic_checks.py
  test/ucs-test/tests/59_udm/71_test_udm_settings_usertemplate.py
Due: doc-pipeline, deb-pipeline

test(docker): remove ucs-appbox tests
  test/ucs-test/tests/80_docker/40_app_install_4_4.py
Due: deb-pipeline

chore(postgresql): remove obsolete pam-config
  services/univention-postgresql/40univention-postgresql.inst
  services/univention-postgresql/conffiles/etc/pam.d/postgresql
  services/univention-postgresql/conffiles/etc/postgresql/pam_ldap.conf
  services/univention-postgresql/debian/rules
  services/univention-postgresql/debian/univention-postgresql.install
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry
  services/univention-postgresql/univention-postgresql-password
  test/utils/utils.sh
Due: deb-pipeline

fix(ldap): Always enable ppolicy module because it provides the schema necessary to create our internal entries
  doc/manual/appendix/variables.rst
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/user-management/user-lockout.rst
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/31modules
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
  test/ucs-test/tests/10_ldap/50ppolicy_account_lockout
  test/ucs-test/tests/10_ldap/56ppolicy_account_lockout_concurrent
Due: doc-pipeline, deb-pipeline

test(vnc-installer): "Return" was not recognized once to Continue
  test/utils/installation_test/vnc-install-ucs.py
Due: none

fix(docker): adjust docker configuration template to changed CLI arguments
  container/univention-docker/conffiles/etc/default/docker
  container/univention-docker/conffiles/etc/docker/daemon.json
Due: deb-pipeline

fix(postgresql): Update Postgres 11 -> 13
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/staged/changelog-service-postgresql.56540.rst
  services/univention-admin-diary/README.md
  services/univention-postgresql/conffiles/etc/postgresql/13/main/pg_hba.conf.d/00-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/13/main/pg_hba.conf.d/99-pg_hba.conf
  services/univention-postgresql/conffiles/etc/postgresql/13/main/pg_ident.conf.d/00-pg_ident.conf
  services/univention-postgresql/conffiles/etc/postgresql/13/main/postgresql.conf
  services/univention-postgresql/debian/control
  services/univention-postgresql/debian/univention-postgresql-11.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-11.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-11.univention-service
  services/univention-postgresql/debian/univention-postgresql-13.postinst
  services/univention-postgresql/debian/univention-postgresql-13.univention-config-registry
  services/univention-postgresql/debian/univention-postgresql-13.univention-config-registry-variables
  services/univention-postgresql/debian/univention-postgresql-13.univention-service
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry-variables
Due: doc-pipeline, deb-pipeline

fix(lib): Adapt package mangager to python-apt changes
  base/univention-lib/python/package_manager.py
  doc/changelog/staged/changelog-general.56536.rst
Due: doc-pipeline, deb-pipeline

chore(python): Drop Python 2 binary packages
  base/univention-app-appliance/debian/control
  base/univention-config-registry/debian/control
  base/univention-debug-python/debian/control
  base/univention-ipcalc/debian/control
  base/univention-lib/debian/control
  base/univention-licence-python/debian/control
  base/univention-licence-python/debian/rules
  base/univention-python-heimdal/debian/control
  base/univention-python/debian/control
  base/univention-updater/debian/control
  management/univention-appcenter/debian/control
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-rest/debian/control
  management/univention-directory-reports/debian/control
  management/univention-management-console/debian/control
  packaging/univention-debhelper/debian/control
  packaging/univention-package-template-python/debian/control
  packaging/univention-unittests/debian/control
  services/univention-ad-connector/debian/control
  services/univention-admin-diary/debian/control
  services/univention-pkgdb/debian/control
  services/univention-radius/debian/control
  services/univention-s4-connector/debian/control
Due: deb-pipeline

feat(NSS): replace libnss-ldap with nss-pam-ldapd
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/11univention-pam.inst
  base/univention-pam/conffiles/etc/nslcd.conf
  base/univention-pam/conffiles/etc/pam_ldap.conf
  base/univention-pam/debian/control
  base/univention-pam/debian/ucslint.overrides
  base/univention-pam/debian/univention-pam.maintscript
  base/univention-pam/debian/univention-pam.preinst
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  base/univention-pam/univention-libnss-ldap
  doc/changelog/staged/changelog-service-pam.55995.rst
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
Due: doc-pipeline, deb-pipeline

chore(saml): Update to PHP 7.4
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/changelog-service-saml.55999.rst
  saml/univention-saml/scripts/php-cgi
Due: doc-pipeline, deb-pipeline

refactor(simplesamlphp): use php-memcached instead of php-memcache
  saml/univention-saml/debian/control
Due: deb-pipeline

fix(UDL): don't compare with address
  management/univention-directory-listener/src/cache_entry.c
Due: deb-pipeline

test(dockertest): Add UCS 5.1 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(radius): add /etc/freeradius.secret credentials file
  doc/changelog/staged/changelog-service-radius.55963.rst
  services/univention-radius/80univention-radius.inst
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/modules/univention/radius/networkaccess.py
  services/univention-radius/usr/lib/univention-server/server_password_change.d/univention-radius
  services/univention-radius/usr/sbin/univention-radius-update-clients-conf
Due: doc-pipeline, deb-pipeline
