Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

Bug #55664: univention-quota 14.0.4-2A~5.0.0.202303281802
  doc/errata/staging/univention-quota.yaml
Due: none

Bug #55733: Update User Self services doc
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/user-management/user-self-service.rst
Due: doc-pipeline

Bug #55733: univention-self-service Advisory + changelog
  doc/errata/staging/univention-self-service.yaml
  management/univention-self-service/debian/changelog
Due: deb-pipeline

Bug #55733: New UCRV configure read_only attributes self-service/udm_attributes/read-only
  management/univention-self-service/debian/univention-self-service.univention-config-registry-variables
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/de.po
Due: deb-pipeline

Bug #55733: Add new ucs-test to test self-service read-only attribute
  test/ucs-test/tests/83_self_service/10_test_read_only_attribute.py
  test/ucs-test/tests/83_self_service/test_self_service.py
Due: deb-pipeline

Bug #55733: univention-self-service 5.0.6-4A~5.0.0.202303281815
  doc/errata/staging/univention-self-service.yaml
Due: none

Bug #55360: Import buster-backport version of libseccomp
  doc/errata/staging/libseccomp.yaml
Due: none

fixup! Bug #55360: Import buster-backport version of libseccomp
  doc/errata/staging/libseccomp.yaml
Due: none

Fix portal entry for UCS >= 5.0
  test/utils/utils-school-idbroker.sh
Due: none

build: add isort to pre-commit wrapper Makefile
  Makefile
Due: none

Bug #54307: jenkins: add mapped-udm-property to jenkins test
  test/scenarios/autotest-244-ucsschool-id-sync.cfg
  test/utils/ucsschool_id_connector.py
Due: none

Bug #55733: update changelog ucs-test
  test/ucs-test/debian/changelog
Due: deb-pipeline

Bug #55733: fix language ucs-test-self-service to check the read only configuration of the self service.
  test/ucs-test/tests/83_self_service/10_test_read_only_attribute.py
Due: deb-pipeline

fixup! Bug #55733: Add new ucs-test to test self-service read-only attribute
  test/ucs-test/tests/83_self_service/test_self_service.py
Due: deb-pipeline

test samba4.18
  test/scenarios/autotest-091-master-s4.cfg
  test/scenarios/autotest-093-backup-s4.cfg
  test/scenarios/autotest-095-slave-s4.cfg
  test/scenarios/autotest-097-member-s4.cfg
Due: none

Bug #55899: imagemagick 8:6.9.7.4+dfsg-11+deb9u18
  doc/errata/staging/imagemagick.yaml
Due: none

Bug #54307: jenkins: restart kelvin after changing config
  test/scenarios/autotest-244-ucsschool-id-sync.cfg
Due: none

Bug #55899: imagemagick ANNOUNCE
  doc/errata/published/2023-03-29_1394_imagemagick.yaml
Due: none

Bug #55892: Advisory update
  doc/errata/staging/ldb.yaml
  doc/errata/staging/samba.yaml
Due: none

Bug #55910: univention-fetchmail ANNOUNCE
  doc/errata/published/2023-03-29_623_univention-fetchmail.yaml
Due: none

Bug #55529,Bug #55664: univention-management-console ANNOUNCE
  doc/errata/published/2023-03-29_627_univention-management-console.yaml
Due: none

Bug #55664: univention-portal ANNOUNCE
  doc/errata/published/2023-03-29_629_univention-portal.yaml
Due: none

Bug #55892: ldb ANNOUNCE
  doc/errata/published/2023-03-29_624_ldb.yaml
Due: none

Bug #55892: samba ANNOUNCE
  doc/errata/published/2023-03-29_626_samba.yaml
Due: none

Bug #55892: univention-ldb-modules ANNOUNCE
  doc/errata/published/2023-03-29_625_univention-ldb-modules.yaml
Due: none

Bug #55664: univention-quota ANNOUNCE
  doc/errata/published/2023-03-29_628_univention-quota.yaml
Due: none

Bug #55664: univention-s4-connector ANNOUNCE
  doc/errata/published/2023-03-29_630_univention-s4-connector.yaml
Due: none

Bug #55529,Bug #55733: univention-self-service ANNOUNCE
  doc/errata/published/2023-03-29_631_univention-self-service.yaml
Due: none

Bug #55664: univention-appcenter ANNOUNCE
  doc/errata/published/2023-03-29_632_univention-appcenter.yaml
Due: none

Bug #55360: Add clone3 and faccesstat2 as default to the appcenter seccomp rules
  container/univention-docker/conffiles/etc/docker/seccomp-systemd.json
Due: deb-pipeline

Bug #55360: changelog and yaml
  container/univention-docker/debian/changelog
  doc/errata/staging/univention-docker.yaml
Due: deb-pipeline

Bug #55360: update yaml
  doc/errata/staging/univention-docker.yaml
Due: none

fixup! Bug #54307: jenkins: add mapped-udm-property to jenkins test
  test/scenarios/autotest-244-ucsschool-id-sync.cfg
Due: none

Issue #1489: docs/conf: Suppress git too shallow warnings
  doc/app-center/conf.py
  doc/architecture/conf.py
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/ext-domain/conf.py
  doc/ext-installation/conf.py
  doc/ext-networks/conf.py
  doc/ext-performance/conf.py
  doc/ext-windows/conf.py
  doc/manual/conf.py
  doc/quickstart/conf.py
  doc/release-notes/conf.py
  doc/scenarios/conf.py
Due: doc-pipeline

Issue #1489: Deactivate language lexer in literalinclude
  doc/developer-reference/umc/local-system-module.rst
Due: doc-pipeline

Issue #1489: ci: Use downstream merge request instead of push
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
  .gitlab-ci/build-ci
  doc/pipeline-rsync-exclude.txt
Due: none

Issue #1489: Fix broken link in Architecture document
  doc/architecture/appendix/architecture-notation.rst
Due: doc-pipeline

Bug #1489: Developer Reference: Add link to ignore list: Expired certificate
  doc/developer-reference/conf.py
Due: doc-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
