Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

doc(manual): Add section about MAC Authentication Bypass
  doc/manual/appendix/variables.rst
  doc/manual/ip-config/radius.rst
Due: doc-pipeline

fix(univention-keycloak): read all relevant attributes from XML file
  management/univention-management-console/92univention-management-console-web-server.inst
  management/univention-management-console/usr/share/univention-management-console/saml/sp.py
  management/univention-management-console/usr/share/univention-management-console/saml/update_metadata
  services/univention-keycloak/debian/install
  services/univention-keycloak/debian/univention-keycloak-client.install
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

feat(univention-keycloak): add error handling in case XML is malformed
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

feat(UDM): only register Python 3 UDM extensions
  management/univention-directory-manager-modules/listener/udm_extension.py
Due: deb-pipeline

feat(univention-dvd): DVD UCS 5.1-0
  base/univention-dvd/data/ucs510/amd64_netinst_udeb_include
  base/univention-dvd/data/ucs510/amd64_udeb_include
  base/univention-dvd/data/ucs510/exclude-udebs
  base/univention-dvd/data/ucs510/exclude-udebs-amd64
  base/univention-dvd/data/ucs510/grub-theme.in
  base/univention-dvd/data/ucs510/hl_c.png
  base/univention-dvd/data/ucs510/udeb_exclude
  base/univention-dvd/data/ucs510/udeb_include
  base/univention-dvd/tasks/ucs510/empty
  base/univention-dvd/tasks/ucs510/exclude
  base/univention-dvd/tasks/ucs510/forcd1
  base/univention-dvd/tasks/ucs510/task-ucs510
  base/univention-dvd/tools/boot/ucs510/boot-amd64
  base/univention-dvd/tools/boot/ucs510/boot-x86
  base/univention-dvd/tools/boot/ucs510/common.sh
  base/univention-dvd/tools/boot/ucs510/parse_isolinux
  base/univention-dvd/tools/boot/ucs510/x86-desktop.sh
  base/univention-dvd/tools/ucs510
  base/univention-dvd/ucs510.conf
Due: deb-pipeline

chore: replace UCS version to 5.1
  README.dev.md
  base/univention-system-activation/www/ActivationWizard.js
  base/univention-updater/README.md
  base/univention-updater/doc/code.md
  base/univention-updater/doc/layout4.md
  management/univention-appcenter/unittests/conftest.py
  management/univention-appcenter/unittests/dependencies.ldif
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/dependencies/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/samba-memberserver.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service-backend_20200312115710.ini
  management/univention-appcenter/unittests/inis/install_checks/5.0/self-service_20151117.ini
  management/univention-appcenter/unittests/install_checks.ldif
  management/univention-directory-listener/README.md
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/21_check_join_status.py
  management/univention-portal/frontend/builder/sources.list
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.postinst
Due: deb-pipeline

feat(UMC): remove UMC modules for Python 2
  management/univention-management-console/dev/dh-umc-module-install
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/resources.py
  packaging/univention-l10n/univention/l10n/umc.py
Due: deb-pipeline

WIP ci(jenkins): UCS 5.1
  test/utils/start-test.sh
Due: none

chore(python): remove python2.7/sitecustomize
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/00header.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/10apport.py
  base/univention-base-files/conffiles/etc/python2.7/sitecustomize.py.d/20utf8.py
  base/univention-base-files/debian/ucslint.overrides
  base/univention-base-files/debian/univention-base-files.maintscript
  base/univention-base-files/debian/univention-base-files.univention-config-registry
Due: deb-pipeline

feat(updater): add preup check to remove obsolete objects
  base/univention-updater/script/check.sh
  base/univention-updater/script/preup.sh
  doc/changelog/spelling_wordlist
  doc/changelog/staged/changelog-deployment.56134.rst
Due: doc-pipeline, deb-pipeline

docs(developer-reference): remove required Python 2.7 directories
  doc/developer-reference/udm/package-extended-attributes.rst
  doc/developer-reference/udm/syntax.rst
  doc/developer-reference/udm/udm-modules.rst
Due: doc-pipeline

docs: UCS 5.1
  doc/README.md
  doc/app-center/README.md
  doc/app-center/app-provider-5.0.html
  doc/app-center/conf.py
  doc/app-center/configurations.rst
  doc/app-center/get_started.rst
  doc/app-center/lifecycle.rst
  doc/app-center/links.txt
  doc/architecture/conf.py
  doc/architecture/links.txt
  doc/bibliography-de.bib
  doc/bibliography.bib
  doc/changelog/README.md
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/developer-reference/developer-reference-5.0.html
  doc/developer-reference/packaging.rst
Due: doc-pipeline

feat(updater): UCS 5.1 increase version/* UCR variables
  base/univention-updater/debian/univention-updater.postinst
Due: deb-pipeline

feat(nagios): check only for Python 3 services
  monitoring/univention-monitoring-client/alerts-ad-connector/check_univention_ad_connector
  monitoring/univention-monitoring-client/alerts-s4-connector/check_univention_s4_connector
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector
  monitoring/univention-nagios-s4-connector/check_univention_s4_connector
Due: deb-pipeline

feat(updater): Require all systems in the domain to have UCS 5.0-6 to upgrade
  base/univention-updater/script/check.sh
  management/univention-join/ensure-minmum-ucs-version
Due: deb-pipeline

ci(gitlab): UCS 5.1-0
  .gitlab-ci.yml
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
Due: none

test: drop Python 2.7
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
  test/ucs-test/tests/59_udm/72_test_udm_extensions.py
  test/ucs-test/univention/testing/coverage.py
  test/ucs-test/univention/testing/udm_extensions.py
Due: deb-pipeline

feat(updater): preup.sh: UCS 5.1
  base/univention-updater/script/check.sh
  base/univention-updater/script/postup.sh
  base/univention-updater/script/preup.sh
Due: deb-pipeline

chore(saml): Update to PHP 7.4
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/changelog-service-saml.55999.rst
  saml/univention-saml/scripts/php-cgi
Due: doc-pipeline, deb-pipeline

Bug #56724: Remove unneeded code from App Center UMC module
  doc/changelog/staged/changelog-umc-appcenter.56724.rst
  management/univention-appcenter/debian/univention-management-console-module-appcenter.install
  management/univention-appcenter/scripts/univention-register-apps
  management/univention-appcenter/scripts/univention-rename-app
  management/univention-appcenter/umc/python/appcenter/util.py
Due: doc-pipeline, deb-pipeline

refactor(grub): disable serial memtest grub entries
  base/univention-grub/conffiles/etc/default/grub
Due: deb-pipeline

feat(NSS): replace libnss-ldap with nss-pam-ldapd
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/11univention-pam.inst
  base/univention-pam/conffiles/etc/nslcd.conf
  base/univention-pam/conffiles/etc/pam_ldap.conf
  base/univention-pam/debian/control
  base/univention-pam/debian/ucslint.overrides
  base/univention-pam/debian/univention-pam.maintscript
  base/univention-pam/debian/univention-pam.preinst
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  base/univention-pam/univention-libnss-ldap
  doc/changelog/staged/changelog-service-pam.55995.rst
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
Due: doc-pipeline, deb-pipeline

fix(ldap): Make include of ppolicy.schema optional so that we can remove it in UCS 5.2
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/10univention-ldap-server_schema
Due: deb-pipeline

fix(UDL): don't compare with address
  management/univention-directory-listener/src/cache_entry.c
Due: deb-pipeline

fix(lib): Adapt package mangager to python-apt changes
  base/univention-lib/python/package_manager.py
  doc/changelog/staged/changelog-general.56536.rst
Due: doc-pipeline, deb-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.9
  doc/changelog/staged/changelog-domain-openldap-replication.56533.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

chore(php-krb5): update php-krb5 to 1.1.5
  saml/php-krb5/debian/rules
  saml/php-krb5/krb5-1.1.3.tgz
  saml/php-krb5/krb5-1.1.5.tgz
Due: deb-pipeline

refactor(simplesamlphp): use php-memcached instead of php-memcache
  saml/univention-saml/debian/control
Due: deb-pipeline

fix(udl): Fix listener segfault for modules using new listener api
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

fix(simplesamlphp): rebase to upstream
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/listener/univention-saml-simplesamlphp-configuration.py
  saml/univention-saml/simplesamlphp/modules/uldap/lib/Auth/Source/uLDAP.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/core/frontpage_welcome.tpl.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/default/includes/header.php
Due: deb-pipeline

fix(simplesamlphp): adjust logging to upstrem
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/simplesamlphp/modules/uldap/lib/Auth/Source/uLDAP.php
Due: deb-pipeline

chore(univention-errata-level): remove python packages from unmaintained
  base/univention-errata-level/maintained-packages.txt
Due: deb-pipeline

docs(developer-reference): remove Python 3 migration from developer-reference
  doc/developer-reference/ucr/index.rst
  doc/developer-reference/ucr/python3.rst
  doc/developer-reference/udm/index.rst
  doc/developer-reference/udm/python3-migration.rst
  doc/developer-reference/umc/index.rst
  doc/developer-reference/umc/python-migration.rst
Due: doc-pipeline

chore(php-krb5): depend on php7.4-dev
  saml/php-krb5/debian/control
Due: deb-pipeline

fix(pam): replace upstream removed libpam-cracklib with libpam-pwquality
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/conffiles/etc/pam.d/common-password
  base/univention-pam/debian/control
  base/univention-pam/tests/test_common_all
  base/univention-pam/tests/test_common_cache
  base/univention-pam/tests/test_common_default
  base/univention-pam/tests/test_common_krb5
  base/univention-pam/tests/test_common_ldap
  base/univention-pam/tests/test_common_none
  base/univention-pam/tests/test_common_unix
  base/univention-pam/tests/test_common_winbind
  doc/changelog/staged/changelog-service-pam.56002.rst
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/80_password
Due: doc-pipeline, deb-pipeline
