Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline, errata validation

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
  errata validation: any of: doc/errata/staging/*.yaml

Bug #55736: tiff ANNOUNCE
  doc/errata/published/2023-02-23_594_tiff.yaml
Due: none

Bug #55683: Update install_apps_via_umc to install a specific version of the MAIN_APP
  test/utils/umc-appcenter.py
  test/utils/utils.sh
Due: none

Bug #55683: Modify test scenarios for app-testing
  test/scenarios/app-testing/autotest-100-app-master-no-samba.cfg
  test/scenarios/app-testing/autotest-101-app-master-s4.cfg
  test/scenarios/app-testing/autotest-102-app-backup-no-samba.cfg
  test/scenarios/app-testing/autotest-103-app-backup-s4.cfg
  test/scenarios/app-testing/autotest-104-app-slave-no-samba.cfg
  test/scenarios/app-testing/autotest-105-app-slave-s4.cfg
  test/scenarios/app-testing/autotest-106-app-member-no-samba.cfg
  test/scenarios/app-testing/autotest-107-app-member-s4.cfg
Due: none

Bug #55683: Update install_apps_via_umc to install a specific version of the MAIN_APP
  test/utils/utils.sh
Due: none

fixup! Bug #55747: added keycloak tests
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/02_test_portal_login.py
  test/ucs-test/tests/81_keycloak/conftest.py
  test/ucs-test/tests/81_keycloak/utils.py
Due: deb-pipeline

Bug #52051: advisory
  doc/errata/staging/samba.yaml
Due: errata validation

Bug #52051: added test case
  test/ucs-test/debian/changelog
  test/ucs-test/tests/53_samba-common/39_upload_printer_driver_case
Due: deb-pipeline

Bug #55247: test case
  test/ucs-test/debian/changelog
  test/ucs-test/tests/45_radius/14_eap_tlsv3.py
Due: deb-pipeline

Bug #55247: disable tls v3 for radius
  doc/errata/staging/univention-radius.yaml
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/eap
  services/univention-radius/debian/changelog
  services/univention-radius/debian/univention-radius.univention-config-registry
  services/univention-radius/debian/univention-radius.univention-config-registry-variables
Due: deb-pipeline, errata validation

Bug #55247: yaml
  doc/errata/staging/univention-radius.yaml
Due: errata validation

Bug #55636: Fix updater not to ignore the url path for component repositories
  base/univention-updater/debian/changelog
  base/univention-updater/modules/univention/updater/tools.py
  doc/errata/staging/univention-updater.yaml
Due: deb-pipeline, errata validation

Bug #55636: Updated advisory yaml
  doc/errata/staging/univention-updater.yaml
Due: errata validation

Bug #55636: YAML
  doc/errata/staging/univention-updater.yaml
Due: errata validation

fix(umc): restart during upgrade 5.0-3+572..583
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
  management/univention-management-console/debian/univention-management-console-web-server-fix.postinst
Due: deb-pipeline, errata validation

fix(umc): add missing Python 2.7 dependency
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/control
Due: deb-pipeline, errata validation

chore(univention-management-console): update advisory
  doc/errata/staging/univention-management-console.yaml
Due: errata validation

Bug #55636: Do not release for 5.0-2
  doc/errata/staging/univention-updater.yaml
Due: errata validation

Bug #55752,Bug #55753: univention-management-console ANNOUNCE
  doc/errata/published/2023-02-24_595_univention-management-console.yaml
Due: none

Bug #50073: fix syntax error in debian/changelog
  management/univention-management-console-module-diagnostic/debian/changelog
Due: deb-pipeline

Issue #56 setup mapped UDM properties for Kelvin API tests (univention/components/ucsschool-kelvin-rest-api#56)
  test/scenarios/autotest-241-ucsschool-kelvin-API.cfg
  test/scenarios/autotest-241-ucsschool-kelvin-performance.cfg
  test/utils/utils-school.sh
Due: none

Issue #56 remove superfluous property (univention/components/ucsschool-kelvin-rest-api#56)
  test/utils/utils-school.sh
Due: none

Bug #55758: freeradius 3.0.17+dfsg-1.1+deb10u2A~5.0.3.202302271022
  doc/errata/staging/freeradius.yaml
Due: errata validation

Bug #55759: php7.3 7.3.31-1~deb10u3
  doc/errata/staging/php7.3.yaml
Due: errata validation

Bug #55760: curl 7.64.0-4+deb10u5
  doc/errata/staging/curl.yaml
Due: errata validation

Bug #55761: freeradius 3.0.17+dfsg-1.1+deb9u1A~4.4.9.202302271026
  doc/errata/staging/freeradius.yaml
Due: errata validation

Bug #55762: git 1:2.11.0-3+deb9u10
  doc/errata/staging/git.yaml
Due: errata validation

Bug #52051: run keycloak tests in mariadb setup
  test/scenarios/keycloak/mariadb_setup.cfg
  test/utils/utils-keycloak.sh
Due: none

Bug #55602: fix 96rename_domain_admins
  test/ucs-test/tests/01_base/96rename_domain_admins
Due: deb-pipeline

fix(ucslint): remove 0009-5 dict.has_key covered by flake8 W601
  base/univention-config-registry/debian/ucslint.overrides
  management/univention-web/debian/ucslint.overrides
  packaging/ucslint/debian/ucslint.overrides
  packaging/ucslint/testframework/0009-2-3-4-5.correct
  packaging/ucslint/testframework/0009-2-3-4-5/src/haskey-without-hashbang.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/haskey.py
  packaging/ucslint/univention/ucslint/0009-Python.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0009-6 raise "text" covered by ruff B016
  packaging/ucslint/debian/ucslint.overrides
  packaging/ucslint/testframework/0009-2-3-4-5.correct
  packaging/ucslint/testframework/0009-2-3-4-5/src/irgendwas.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/mitWhitespace.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/nur24.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/nur25.py
  packaging/ucslint/univention/ucslint/0009-Python.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0009-7 comparision None covered by flake8/ruff E711
  oidc/python-keycloak/debian/ucslint.overrides
  packaging/ucslint/debian/ucslint.overrides
  packaging/ucslint/testframework/0009-7.correct
  packaging/ucslint/testframework/0009-7/debian/rules
  packaging/ucslint/testframework/0009-7/none.py
  packaging/ucslint/univention/ucslint/0009-Python.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0009-12 reserved-python-keyword by ruff A001
  packaging/ucslint/debian/ucslint.overrides
  packaging/ucslint/testframework/0009-12-13.correct
  packaging/ucslint/testframework/0009-12-13/test.py
  packaging/ucslint/univention/ucslint/0009-Python.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0009-13 internal-python-keyword by ruff A001
  oidc/python-keycloak/debian/ucslint.overrides
  packaging/ucslint/debian/ucslint.overrides
  packaging/ucslint/testframework/0009-12-13.correct
  packaging/ucslint/testframework/0009-12-13/debian/changelog
  packaging/ucslint/testframework/0009-12-13/debian/compat
  packaging/ucslint/testframework/0009-12-13/debian/control
  packaging/ucslint/testframework/0009-12-13/debian/copyright
  packaging/ucslint/testframework/0009-12-13/debian/rules
  packaging/ucslint/testframework/0009-12-13/test.py
  packaging/ucslint/univention/ucslint/0009-Python.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0020-flake8 as pre-commit replaces this
  doc/developer-reference/misc.rst
  oidc/python-keycloak/debian/ucslint.overrides
  packaging/ucslint/setup.cfg
  packaging/ucslint/testframework/0020.correct
  packaging/ucslint/testframework/0020/conffiles/python2
  packaging/ucslint/testframework/0020/conffiles/python3
  packaging/ucslint/testframework/0020/debian/changelog
  packaging/ucslint/testframework/0020/debian/compat
  packaging/ucslint/testframework/0020/debian/control
  packaging/ucslint/testframework/0020/debian/copyright
  packaging/ucslint/testframework/0020/debian/rules
  packaging/ucslint/testframework/0020/debian/source/format
  packaging/ucslint/testframework/0020/test.py
  packaging/ucslint/testframework/0020/test2
  packaging/ucslint/testframework/0020/test3
  packaging/ucslint/ucspep8
  packaging/ucslint/univention/ucslint/0020-flake8.py
Due: prepare ucslint, doc-pipeline, deb-pipeline

fix(ucslint): remove 0011-7 definition: is not checked anymore
  packaging/ucslint/univention/ucslint/0011-Control.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): update to Python 3 syntax
  packaging/ucslint/testframework/0008-1-3.correct
  packaging/ucslint/testframework/0008-1-3/src/irgendwas.py
  packaging/ucslint/testframework/0008-4/src/irgendwas.py
  packaging/ucslint/testframework/0008-5-6/src/irgendwas.py
  packaging/ucslint/testframework/0009-10/strings2.py
  packaging/ucslint/testframework/0009-10/strings3.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/irgendwas.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/mitWhitespace.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/nur24.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/nur25.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/py3.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/py35.py
  packaging/ucslint/testframework/0009-2-3-4-5/src/py37.py
  packaging/ucslint/testframework/0009-8.correct
  packaging/ucslint/testframework/0009-8/true.py
  packaging/ucslint/testframework/0010-2-3-4-5/gencertificate.py
  packaging/ucslint/testframework/0011-2-3-4-5-6-7-8/gencertificate.py
  packaging/ucslint/testframework/0013-2/gencertificate.py
  packaging/ucslint/testframework/0015-2/gencertificate.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0011-6 definition: is not checked anymore
  packaging/ucslint/univention/ucslint/0011-Control.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0011-8 definition: is not checked anymore
  packaging/ucslint/univention/ucslint/0011-Control.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0011-18 definition: no longer relevant
  packaging/ucslint/univention/ucslint/0011-Control.py
Due: prepare ucslint, deb-pipeline

fix(ucslint): remove 0011-11 definition: no longer relevant
  management/univention-management-console/doc/packaging.rst
  packaging/ucslint/testframework/0011-2-3-4-5-6-7-8.correct
  packaging/ucslint/testframework/0011-2-3-4-5-6-7-8/debian/control
  packaging/ucslint/testframework/0013-2/debian/control
  packaging/ucslint/testframework/0015-2.correct
  packaging/ucslint/testframework/0015-2/debian/control
  packaging/ucslint/univention/ucslint/0011-Control.py
Due: prepare ucslint, deb-pipeline
