Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

feat(univention-unittest): execute with Python 3 only
  packaging/univention-unittests/univention-unittest
Due: deb-pipeline

feat(uvmm): remove UVMM UDM objects from LDAP
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-domain-openldap.56651.rst
Due: doc-pipeline, deb-pipeline

feat(saml): remove saml/* UDM objects
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

fix(UDM): syntax doctest: use rawstring
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

Bug #56667: Update samba bind shared libararies to bind9_16
  services/univention-bind/conffiles/etc/bind/named.conf.samba4
Due: deb-pipeline

feat(udm): remove UDM settings/portal*
  base/univention-python/modules/uldap.py
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-umc-udmcli.52048.rst
  management/univention-directory-manager-modules/modules/univention/admin/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_all.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_category.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_entry.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_data.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_category.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_entry.py
  management/univention-management-console-module-udm/35univention-management-console-module-udm.inst
  management/univention-management-console-module-udm/umc/js/udm/PortalContent.js
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/univention-portal.install
  management/univention-portal/udm/migrate-to-new-portal
  management/univention-portal/udm/migrate-to-new-portal-during-5.0-dev
  test/ucs-test/tests/86_browser/182_portal_administration_inline_appearance_font_color.py
  test/ucs-test/tests/86_browser/183_portal_administration_inline_appearance_background_css.py
  test/ucs-test/tests/99_end/grep_traceback.py
  test/ucs-test/univention/testing/udm.py
Due: doc-pipeline, deb-pipeline

fix(umc): Migrate to Python 3
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

test(docker): adjust UCS versions in docker tests
  test/ucs-test/tests/80_docker/59_app_center_signature.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
Due: deb-pipeline

Revert "test(mail): partly revert "use systemctl for reloading amavis and postfix""
  test/ucs-test/tests/40_mail/essential/mail.py
Due: deb-pipeline

refactor(udm): remove decode_ignorelist
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-lib/python/admember.py
  base/univention-python/modules/uldap.py
  doc/changelog/staged/changelog-lib.50343.rst
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  test/ucs-test/univention/testing/utils.py
Due: doc-pipeline, deb-pipeline

ci(jenkins): check for LDAP country migration in pre upgrade
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

DROPME?: allow build timestamps
  base/univention-debug-python/setup.py
  base/univention-ipcalc/setup.py
  base/univention-licence-python/setup.py
  base/univention-python-heimdal/setup.py
  base/univention-python/setup.py
  base/univention-updater/setup.py
  management/univention-appcenter/packaging.py
  management/univention-directory-listener/setup.py
  management/univention-management-console/setup.py
  management/univention-portal/setup.py
  packaging/ucslint/setup.py
  packaging/univention-l10n/debian/control
  packaging/univention-l10n/setup.py
  packaging/univention-unittests/setup.py
  services/univention-radius/setup.py
Due: prepare ucslint, deb-pipeline

refactor(python): drop Python 2 support: pipes.quote()
  base/univention-config-registry/python/univention-install-config-registry
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-grub/conffiles/etc/default/grub
  base/univention-lib/python/admember.py
  base/univention-lib/python/listenerSharePath.py
  base/univention-updater/umc/python/updater/__init__.py
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/utils.py
  management/univention-directory-listener/conffiles/etc/default/univention-directory-listener
  management/univention-management-console/src/univention/management/console/resources.py
  services/univention-ad-connector/conffiles/ad-certificate.py
  services/univention-squid/conffiles/etc/squid/squid.conf
Due: deb-pipeline

refactor(python): drop Python 2 support: HTMLParser.unescape()
  management/univention-management-console/src/univention/management/console/resource.py
Due: deb-pipeline

chore(postgresql): remove obsolete pam-config
  services/univention-postgresql/40univention-postgresql.inst
  services/univention-postgresql/conffiles/etc/pam.d/postgresql
  services/univention-postgresql/conffiles/etc/postgresql/pam_ldap.conf
  services/univention-postgresql/debian/rules
  services/univention-postgresql/debian/univention-postgresql.install
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry
  services/univention-postgresql/univention-postgresql-password
  test/utils/utils.sh
Due: deb-pipeline

feat(appcenter): Add Postgres 13 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/13/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

UCS 5.2 preup
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
  test/utils/utils.sh
Due: none

Bug #55996: replace the non-default enabled md4 from hashlib with md4_hash_blob from samba4.crypto
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

Bug #46120: rebase UCR templates (univention-saml)
  saml/univention-saml/conffiles/etc/simplesamlphp/00authsources.php
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
Due: deb-pipeline

test(vnc-installer): "Return" was not recognized once to Continue
  test/utils/installation_test/vnc-install-ucs.py
Due: none

feat(udm): remove UCR variable directory/manager/user/group-memberships-via-memberof=false
  doc/changelog/staged/changelog-umc-udmcli.56253.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: doc-pipeline, deb-pipeline

Bug #55996: load legacy provider before to enable md4 in univention-radius
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

fix(appcenter): adjust section error in the UMC software packages module
  doc/changelog/staged/changelog-umc-appcenter.56598.rst
  management/univention-appcenter/debian/univention-management-console-module-apps.preinst
  management/univention-appcenter/umc/python/appcenter/__init__.py
Due: doc-pipeline, deb-pipeline

fix(udm-rest)!: change status code to 202 for move operations
  doc/changelog/staged/changelog-udm-rest.55057.rst
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/openapi.py
Due: doc-pipeline, deb-pipeline

refactor(python): drop Python 2 support: collections.abc
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-lib/unittests/test_ucs.py
  management/univention-directory-listener/python/univention/listener/handler_logging.py
Due: deb-pipeline

fix(radius): add /etc/freeradius.secret credentials file
  doc/changelog/staged/changelog-service-radius.55963.rst
  services/univention-radius/80univention-radius.inst
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/modules/univention/radius/networkaccess.py
  services/univention-radius/usr/lib/univention-server/server_password_change.d/univention-radius
  services/univention-radius/usr/sbin/univention-radius-update-clients-conf
Due: doc-pipeline, deb-pipeline

refactor(python): UP018
  management/univention-directory-manager-modules/modules/univention/udm/utils.pyi
Due: deb-pipeline

Bug #55915: import `zoneinfo` without `try`
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

chore(changelog): add changelog entry
  doc/changelog/staged/changelog-general.56604.rst
Due: doc-pipeline

Bug #55915: remove `unicode` backward compatability
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

Bug #55915: replace `imghdr` import with `filetype`
  management/univention-portal/debian/control
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

refactor(python): UP003
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
Due: deb-pipeline

refactor(python): UP036
  base/univention-config-registry/tests/test_frontend.py
  base/univention-config-registry/tests/test_handler.py
  base/univention-config-registry/tests/test_ucr.py
  base/univention-updater/setup.py
  base/univention-updater/tests/test_upgrade.py
Due: deb-pipeline

refactor(python): UP028
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/python/univention/config_registry/interfaces.py
  base/univention-config-registry/python/univention/config_registry/validation.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/lmdb_cache.py
  base/univention-lib/python/package_manager.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/02_certificate_check.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
  management/univention-portal/python/univention/portal/__init__.py
  packaging/univention-unittests/python/univention/unittests/udm_database.py
Due: deb-pipeline

refactor(python): UP012
  base/univention-debug-python/tests/test_debug.py
  mail/univention-mail-dovecot/modules/univention/mail/dovecot_shared_folder.py
  management/univention-directory-notifier/univention-translog
  oidc/python-keycloak/keycloak/tests/test_connection.py
  test/ucs-test/tests/09_updater/proxy.py
  test/ucs-test/tests/10_ldap/41listener_module_api_test.py
Due: deb-pipeline

Bug #55915: remove `try` from `import typing`
  base/univention-config-registry/python/univention/config_registry/misc.py
  doc/changelog/staged/changelog-general.55915.rst
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/pam.py
  packaging/univention-debhelper/univention/debhelper.py
Due: doc-pipeline, deb-pipeline

refactor(python): UP026
  packaging/univention-unittests/python/univention/unittests/udm_connection.py
Due: deb-pipeline
