Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

fix(umc): set stdin,stdout,stderr file descriptors inheritable
  management/univention-management-console/debian/changelog
  management/univention-management-console/scripts/univention-management-console-module
Due: deb-pipeline

Bug #43633: fix typo
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/resource.py
Due: deb-pipeline

Bug #55175: Adjust style for Announcement.vue
  management/univention-portal/frontend/src/components/PortalHeader.vue
  management/univention-portal/frontend/src/components/widgets/Announcement.vue
  management/univention-portal/frontend/src/store/modules/portalData/portalData.models.ts
Due: deb-pipeline

Bug #55175: Debian changelog
  management/univention-portal/debian/changelog
Due: deb-pipeline

Bug #55175: fix writing icons
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

Bug #56089: Add UCS_VERSION to kvm_extra_label
  test/product-tests/umc/umc-performance.cfg
Due: none

Bug #43633: add missing changelog entry
  management/univention-appcenter/debian/changelog
Due: deb-pipeline

Bug #56137: Fix stdout needs to fetched
  base/univention-lib/debian/changelog
  base/univention-lib/python/admember.py
Due: deb-pipeline

Bug #55175: No announcements for the virtual UMC portal
  management/univention-portal/debian/changelog
  management/univention-portal/python/univention/portal/extensions/portal.py
Due: deb-pipeline

Bug #50167: Use API version 2, as 3 changed the way policy references are handled
  management/univention-self-service/35univention-self-service-master.inst
  management/univention-self-service/debian/changelog
  management/univention-self-service/portal/univention-setup-self-service-portal-links
Due: deb-pipeline

Bug #56089: Add ucs-test-end at the end of the umc performance test
  test/product-tests/umc/umc-performance.cfg
Due: none

Bug #55175: Adjust style of Announcement.vue (2)
  management/univention-portal/frontend/src/components/PortalHeader.vue
  management/univention-portal/frontend/src/components/widgets/Announcement.vue
Due: deb-pipeline

fix(simple-udm): ListOfListOflTextToDictPropertyEncoder should always return a dict
  management/univention-directory-manager-modules/modules/univention/udm/encoders.py
Due: deb-pipeline

fix(simple-udm): fix saving policies in version >= 3
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
Due: deb-pipeline

Bug #56145: Fix bytes decoding for resync_object_from_s4.py --filter
  services/univention-s4-connector/debian/changelog
  services/univention-s4-connector/scripts/resync_object_from_s4.py
Due: deb-pipeline

Bug #56142: firefox-esr 102.12.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #56141: openssl 1.1.1n-0+deb10u5
  doc/errata/staging/openssl.yaml
Due: none

Bug #56143: vim 2:8.1.0875-5+deb10u5
  doc/errata/staging/vim.yaml
Due: none

doc: Release notes UCS 5.0-4
  doc/changelog/index.rst
Due: doc-pipeline

doc(release): 5.0-4 highlights
  doc/release-notes/index.rst
  doc/release-notes/locales/de/LC_MESSAGES/index.po
Due: doc-pipeline

fix(umc): execute `super().prepare()` coroutine
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

fix(umc): make responding in non-main-thread thread safe
  management/univention-management-console/debian/changelog
  management/univention-management-console/src/univention/management/console/modserver.py
Due: deb-pipeline

refactor(umc): improve debugability of module processes
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/server.py
Due: deb-pipeline

feat(logging): decrease loglevel from INFO(3) to DEBUG/ALL(4)
  base/univention-python/debian/changelog
  base/univention-python/modules/uldap.py
  management/univention-management-console/src/univention/management/console/acl.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

Bug #43633: fix fuzzy
  management/univention-management-console/src/univention/management/console/de.po
Due: deb-pipeline

fixup! refactor(umc): improve debugability of module processes
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

style: keycloak tests
  test/scenarios/keycloak/keycloak-2backups.cfg
  test/scenarios/keycloak/keycloak-ec2-letsencrypt-different-path.cfg
  test/scenarios/keycloak/keycloak-ec2-letsencrypt-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-external-fqdn.cfg
  test/scenarios/keycloak/keycloak-mariadb.cfg
  test/scenarios/keycloak/keycloak-simple.cfg
  test/scenarios/keycloak/keycloak-upgrade.cfg
  test/scenarios/kvm-templates/primary-with-200000-users-kvm-template.cfg
Due: none

Bug #55864: install ucs-school-selfservice-support for autotest-300-ucsschool-large.cfg
  test/scenarios/autotest-300-ucsschool-large.cfg
Due: none

refactor(umc): enhance Session interface
  management/univention-management-console/src/univention/management/console/de.po
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/resources.py
  management/univention-management-console/src/univention/management/console/saml.py
  management/univention-management-console/src/univention/management/console/server.py
  management/univention-management-console/src/univention/management/console/session.py
  management/univention-management-console/src/univention/management/console/shared_memory.py
Due: deb-pipeline

feat(umc): include module name in UNIX sockets
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

Bug #56142: firefox-esr ANNOUNCE
  doc/errata/published/2023-06-14_710_firefox-esr.yaml
Due: none

Bug #56143: vim ANNOUNCE
  doc/errata/published/2023-06-14_712_vim.yaml
Due: none

Bug #56141: openssl ANNOUNCE
  doc/errata/published/2023-06-14_711_openssl.yaml
Due: none

feat(umc): reimplement multiprocessing via apache load balancing with sticky sessions
  management/univention-management-console/conffiles/configure_umc_multiprocessing.py
  management/univention-management-console/conffiles/etc/apache2/sites-available/univention.conf
  management/univention-management-console/debian/changelog
  management/univention-management-console/debian/univention-management-console-server.install
  management/univention-management-console/debian/univention-management-console-server.service
  management/univention-management-console/debian/univention-management-console-web-server.maintscript
  management/univention-management-console/debian/univention-management-console-web-server.postinst
  management/univention-management-console/debian/univention-management-console-web-server.univention-config-registry
  management/univention-management-console/src/univention/management/console/server.py
  management/univention-management-console/systemd/system/univention-management-console-server-multiprocessing.target
  management/univention-management-console/systemd/system/univention-management-console-server.service.d/dependencies.conf
  management/univention-management-console/systemd/system/univention-management-console-server@.service
Due: deb-pipeline

Bug #56143: vim 2:8.1.0875-5+deb10u5
  doc/errata/published/2023-06-14_712_vim.yaml
Due: none
