Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

stats_temp_directory is gone in postgres 15
  services/univention-postgresql/conffiles/etc/postgresql/15/main/postgresql.conf
Due: deb-pipeline

ci: Switch to 5.2-0 images
  .gitlab-ci/base-doc.yml
  .gitlab-ci/base.yml
Due: none

Bug #55927?: new builtin OIDs in openldap 2.5
  management/univention-directory-replication/oid_skip.txt
Due: deb-pipeline

NFS-kernel-service is a oneshot service.
  services/univention-nfs/debian/univention-nfs-server.install
  services/univention-nfs/univention-nfs.conf
Due: deb-pipeline

fixup! test(vns-install): Accept grub installation
  test/utils/installation_test/vnc-install-ucs.py
Due: none

REVERT ME: Workaround for testing
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/utils/oid_skip
Due: none

better test case
  test/ucs-test/tests/60_umc/105_change_expired_password_fail_reason.py
Due: deb-pipeline

Bug #55981: enable strict type checking; TODO: adjust docs
  base/univention-base-files/debian/univention-base-files.univention-config-registry-variables
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/setup.cfg
  base/univention-config-registry/tests/test_frontend.py
Due: deb-pipeline

fixup! Bug #55632: improved the Python 3.11 compatiblity and the timezone handling
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: deb-pipeline

refactor(python): drop Python 2 support: imp
  base/univention-lib/python/ldap_extension.py
  base/univention-pam/well-known-sid-name-mapping.py
Due: deb-pipeline

refactor(python): drop Python 2 support: typing.Text
  base/univention-config-registry/python/univention/config_registry/misc.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
  management/univention-directory-manager-modules/modules/univention/udm/base.pyi
  management/univention-directory-manager-modules/modules/univention/udm/binary_props.pyi
  management/univention-directory-manager-modules/modules/univention/udm/connections.pyi
  management/univention-directory-manager-modules/modules/univention/udm/encoders.pyi
  management/univention-directory-manager-modules/modules/univention/udm/exceptions.pyi
  management/univention-directory-manager-modules/modules/univention/udm/helpers.pyi
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.pyi
  management/univention-directory-manager-modules/modules/univention/udm/modules/mail_all.pyi
  management/univention-directory-manager-modules/modules/univention/udm/plugins.pyi
  management/univention-directory-manager-modules/modules/univention/udm/udm.pyi
  management/univention-directory-manager-modules/modules/univention/udm/utils.pyi
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/pam.py
  packaging/univention-debhelper/univention/debhelper.py
  saml/univention-saml/modules/univention/saml/lib.py
  test/ucs-test/univention/testing/strings.py
Due: deb-pipeline

DROPME: Try to finish DVD Installation
  test/utils/installation_test/vnc-install-ucs.py
Due: none

Bug #50343: remove decode_ignorelist
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-lib/python/admember.py
  base/univention-python/modules/uldap.py
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

fix(ucs-test-pytest): prevent duplicated junit prefix
  test/ucs-test/univention/testing/pytest.py
Due: deb-pipeline

DROPME: temporarily upgrade system before system setup with the latest packages
  test/utils/utils.sh
Due: none

refactor(python): drop Python 2 support: pipes.quote()
  base/univention-config-registry/python/univention-install-config-registry
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-grub/conffiles/etc/default/grub
  base/univention-lib/python/admember.py
  base/univention-lib/python/listenerSharePath.py
  base/univention-updater/umc/python/updater/__init__.py
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/utils.py
  management/univention-directory-listener/conffiles/etc/default/univention-directory-listener
  management/univention-management-console/src/univention/management/console/resources.py
  services/univention-ad-connector/conffiles/ad-certificate.py
  services/univention-squid/conffiles/etc/squid/squid.conf
Due: deb-pipeline

refactor(python): drop Python 2 support: inspect.getargspec()
  management/univention-appcenter/python/appcenter/app.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
  management/univention-management-console/src/univention/management/console/modules/decorators.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

Bug #56367: remove Nagios-Server UDM integration
  doc/manual/monitoring/nagios.rst
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/nagios.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/service.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/nagios/timeperiod.py
  management/univention-directory-manager-modules/modules/univention/admin/nagios.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admin/uexceptions.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/nagios_service.py
  management/univention-ldap/schema/nagios.schema
  management/univention-management-console-module-udm/umc/icons/scalable/udm-nagios-timeperiod.svg
  management/univention-management-console-module-udm/umc/udm.xml
  monitoring/univention-nagios-ad-connector/31univention-nagios-ad-connector.inst
  monitoring/univention-nagios-ad-connector/69univention-nagios-ad-connector.uinst
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector
  monitoring/univention-nagios-ad-connector/check_univention_ad_connector_suidwrapper.c
  monitoring/univention-nagios-ad-connector/conffiles/etc/nagios-plugins/config/univention-ad-connector.cfg
  monitoring/univention-nagios-ad-connector/debian/control
  monitoring/univention-nagios-ad-connector/debian/rules
  monitoring/univention-nagios-ad-connector/debian/univention-nagios-ad-connector.install
  monitoring/univention-nagios-ad-connector/debian/univention-nagios-ad-connector.postinst
  monitoring/univention-nagios-ad-connector/debian/univention-nagios-ad-connector.postrm
  monitoring/univention-nagios-ad-connector/debian/univention-nagios-ad-connector.prerm
  monitoring/univention-nagios-ad-connector/debian/univention-nagios-ad-connector.univention-config-registry
  monitoring/univention-nagios-raid/31univention-nagios-raid.inst
  monitoring/univention-nagios-s4-connector/31univention-nagios-s4-connector.inst
  monitoring/univention-nagios-samba/31univention-nagios-samba.inst
  monitoring/univention-nagios-servicechecks/35univention-nagios-cups.inst
  monitoring/univention-nagios-servicechecks/35univention-nagios-opsi.inst
  monitoring/univention-nagios-servicechecks/35univention-nagios-squid.inst
  monitoring/univention-nagios-smart/31univention-nagios-smart.inst
  monitoring/univention-nagios/26univention-nagios-common.inst
  monitoring/univention-nagios/conffiles/etc/nagios/nagios.cfg
  services/univention-ad-connector/debian/control
  test/ucs-test/tests/59_udm/66_test_udm_computers.py
  test/univention-demo-configuration/usr/share/univention-management-console/modules/udm.xml
Due: doc-pipeline, deb-pipeline

test(appcenter): cleanup local repository correctly and do revert to correct appcenter
  test/ucs-test/tests/20_appcenter/100_settings.py
  test/ucs-test/tests/20_appcenter/20_can_apps_be_installed.py
  test/ucs-test/tests/20_appcenter/appcentertest.py
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(self-service): remove old frontend
  management/univention-self-service/Makefile
  management/univention-self-service/README
  management/univention-self-service/debian/univention-self-service.install
  management/univention-self-service/debian/univention-self-service.univention-l10n
  management/univention-self-service/www/CreateAccount.js
  management/univention-self-service/www/NewPassword.js
  management/univention-self-service/www/PageNotFound.js
  management/univention-self-service/www/PasswordBox.js
  management/univention-self-service/www/PasswordChange.js
  management/univention-self-service/www/PasswordForgotten.js
  management/univention-self-service/www/ProtectAccountAccess.js
  management/univention-self-service/www/TextBox.js
  management/univention-self-service/www/UserAttributes.js
  management/univention-self-service/www/VerifyAccount.js
  management/univention-self-service/www/css/custom.css.example
  management/univention-self-service/www/css/icons/error.svg
  management/univention-self-service/www/css/icons/icons-small.svg
  management/univention-self-service/www/css/icons/icons.svg
  management/univention-self-service/www/css/icons/loading-bubbles.gif
  management/univention-self-service/www/css/icons/loading-bubbles.svg
  management/univention-self-service/www/css/icons/tab-buttons.svg
  management/univention-self-service/www/css/icons/tooltip.svg
  management/univention-self-service/www/css/images/background-tile.png
  management/univention-self-service/www/css/images/univention.svg
  management/univention-self-service/www/css/self-service.styl
  management/univention-self-service/www/de.po
  management/univention-self-service/www/index.html
  management/univention-self-service/www/lib.js
  management/univention-self-service/www/main.js
  test/ucs-test/tests/83_self_service/07_test_frontend_links.py
Due: deb-pipeline

refactor(python): drop Python 2 support: collections.abc
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-lib/unittests/test_ucs.py
  management/univention-directory-listener/python/univention/listener/handler_logging.py
Due: deb-pipeline

DROPME: dont put next template into Others
  test/scenarios/kvm-templates/generic-kvm-template.cfg
Due: none

DROPME 5.2: overwrite supported appcenter ucs versions
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
  management/univention-appcenter/python/appcenter/actions/update.py
  management/univention-appcenter/python/appcenter/app_cache.py
Due: deb-pipeline

DROPME: use test-appcenter always!
  management/univention-appcenter/python/appcenter-dev/actions/local_appcenter.py
  management/univention-appcenter/python/appcenter/app_cache.py
Due: deb-pipeline

test(base): replace legacy netstat with ss
  test/ucs-test/tests/01_base/80https_port_blocked
Due: deb-pipeline

Bug #52048: remove UDM settings/portal*
  management/univention-directory-manager-modules/modules/univention/admin/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_all.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_category.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_entry.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_data.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_category.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_entry.py
  management/univention-management-console-module-udm/35univention-management-console-module-udm.inst
  management/univention-management-console-module-udm/umc/js/udm/PortalContent.js
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/univention-portal.install
  management/univention-portal/udm/migrate-to-new-portal
  test/ucs-test/tests/86_browser/182_portal_administration_inline_appearance_font_color.py
  test/ucs-test/tests/86_browser/183_portal_administration_inline_appearance_background_css.py
  test/ucs-test/tests/99_end/grep_traceback.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

slapschema output changed
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/62_check_slapschema.py
Due: deb-pipeline

DROPME: use-latest
  test/scenarios/kvm-templates/generic-kvm-template.cfg
Due: none

fix(udm rest)!: change status code to 202 for move operations
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: deb-pipeline

fix(s4c): Adjust post-read-control to decode values
  services/univention-s4-connector/modules/univention/s4connector/__init__.py
  services/univention-s4-connector/modules/univention/s4connector/s4/ntsecurity_descriptor.py
Due: deb-pipeline

DROPME 5.2: switch_to_test_app_center
  test/utils/utils.sh
Due: none

fix(adc): Adjust to fixed post-read-control in python-ldap 4.0
  services/univention-ad-connector/modules/univention/connector/__init__.py
Due: deb-pipeline

DROPME: ignore pkgdb join failure
  services/univention-pkgdb/50univention-pkgdb.inst
Due: deb-pipeline

refactor(python): drop Python 2 support: HTMLParser.unescape()
  management/univention-management-console/src/univention/management/console/resource.py
Due: deb-pipeline

refactor(UCR): drop py2 support
  base/univention-config-registry/tests/test_backend.py
Due: deb-pipeline

fix(UDM): syntax doctest: use rawstring
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

refactor(python): drop Python 2 support: configparse.read_fp()
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/ini_parser.py
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

DROPME: adjust appcenter open timeout
  test/ucs-test/univention/testing/browser/appcenter.py
  test/ucs-test/univention/testing/browser/lib.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
