Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

refactor(python): drop Python 2 support: configparse.read_fp()
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/ini_parser.py
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

Bug #56730: Deactivate LDAP config in dhcpd.conf during UCS 5.1
  doc/changelog/staged/changelog-service-dhcp.56730.rst
  services/univention-dhcp/conffiles/etc/dhcp/dhcpd.conf
Due: doc-pipeline, deb-pipeline

feat(updater): remove code to exclude UCS 5.1 from the upgrade-list
  base/univention-updater/umc/js/de.po
  base/univention-updater/umc/js/updater/UpdatesPage.js
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

refactor(python): drop Python 2 support: collections.abc
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-lib/unittests/test_ucs.py
  management/univention-directory-listener/python/univention/listener/handler_logging.py
Due: deb-pipeline

refactor(python): UP018
  management/univention-directory-manager-modules/modules/univention/udm/utils.pyi
Due: deb-pipeline

refactor(UCR): drop Python 2 support
  base/univention-config-registry/tests/test_backend.py
Due: deb-pipeline

Bug #55996: replace the non-default enabled md4 from hashlib with md4_hash_blob from samba4.crypto
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

refactor(python): UP036
  base/univention-config-registry/tests/test_frontend.py
  base/univention-config-registry/tests/test_handler.py
  base/univention-config-registry/tests/test_ucr.py
  base/univention-updater/setup.py
  base/univention-updater/tests/test_upgrade.py
Due: deb-pipeline

refactor(python): UP026
  packaging/univention-unittests/python/univention/unittests/udm_connection.py
Due: deb-pipeline

refactor(python): drop Python 2 support: pipes.quote()
  base/univention-config-registry/python/univention-install-config-registry
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-grub/conffiles/etc/default/grub
  base/univention-lib/python/admember.py
  base/univention-lib/python/listenerSharePath.py
  base/univention-updater/umc/python/updater/__init__.py
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/utils.py
  management/univention-directory-listener/conffiles/etc/default/univention-directory-listener
  management/univention-management-console/src/univention/management/console/resources.py
  services/univention-ad-connector/conffiles/ad-certificate.py
  services/univention-squid/conffiles/etc/squid/squid.conf
Due: deb-pipeline

refactor(python): drop Python 2 support: HTMLParser.unescape()
  management/univention-management-console/src/univention/management/console/resource.py
Due: deb-pipeline

refactor(appcenter): re-implement LooseVersion
  base/univention-errata-level/maintained-packages.txt
  management/univention-appcenter/python/appcenter/app.py
Due: deb-pipeline

feat(saml): remove saml/* UDM objects
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

fix(saml): remove schema during upgrade to UCS 5.1
  saml/univention-saml/conffiles/etc/ldap/slapd.conf.d/11univention-saml-schema
  saml/univention-saml/debian/univention-saml-schema.maintscript
  saml/univention-saml/debian/univention-saml-schema.univention-config-registry
Due: deb-pipeline

feat(uvmm): remove UVMM UDM objects from LDAP
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-domain-openldap.56651.rst
Due: doc-pipeline, deb-pipeline

refactor(python): UP028
  base/univention-config-registry/python/univention/config_registry/backend.py
  base/univention-config-registry/python/univention/config_registry/frontend.py
  base/univention-config-registry/python/univention/config_registry/interfaces.py
  base/univention-config-registry/python/univention/config_registry/validation.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/__init__.py
  base/univention-group-membership-cache/src/univention/ldap_cache/cache/backend/lmdb_cache.py
  base/univention-lib/python/package_manager.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/02_certificate_check.py
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
  management/univention-portal/python/univention/portal/__init__.py
  packaging/univention-unittests/python/univention/unittests/udm_database.py
Due: deb-pipeline

DROPME?: allow build timestamps
  base/univention-debug-python/setup.py
  base/univention-ipcalc/setup.py
  base/univention-licence-python/setup.py
  base/univention-python-heimdal/setup.py
  base/univention-python/setup.py
  base/univention-updater/setup.py
  management/univention-appcenter/packaging.py
  management/univention-directory-listener/setup.py
  management/univention-management-console/setup.py
  management/univention-portal/setup.py
  packaging/ucslint/setup.py
  packaging/univention-l10n/debian/control
  packaging/univention-l10n/setup.py
  packaging/univention-unittests/setup.py
  services/univention-radius/setup.py
Due: prepare ucslint, deb-pipeline

refactor(python): drop Python 2 support: typing.Text
  base/univention-config-registry/python/univention/config_registry/misc.py
  base/univention-lib/python/package_manager.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
  management/univention-directory-manager-modules/modules/univention/udm/base.pyi
  management/univention-directory-manager-modules/modules/univention/udm/binary_props.pyi
  management/univention-directory-manager-modules/modules/univention/udm/connections.pyi
  management/univention-directory-manager-modules/modules/univention/udm/encoders.pyi
  management/univention-directory-manager-modules/modules/univention/udm/exceptions.pyi
  management/univention-directory-manager-modules/modules/univention/udm/helpers.pyi
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.pyi
  management/univention-directory-manager-modules/modules/univention/udm/modules/mail_all.pyi
  management/univention-directory-manager-modules/modules/univention/udm/plugins.pyi
  management/univention-directory-manager-modules/modules/univention/udm/udm.pyi
  management/univention-directory-manager-modules/modules/univention/udm/utils.pyi
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/pam.py
  packaging/univention-debhelper/univention/debhelper.py
  saml/univention-saml/modules/univention/saml/lib.py
  test/ucs-test/univention/testing/strings.py
  test/ucs-test/univention/testing/utils.py
Due: deb-pipeline

refactor(python): UP003
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
Due: deb-pipeline

Bug #55996: load legacy provider before to enable md4 in univention-radius
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

refactor(python): UP020
  base/univention-debug-python/setup.py
  base/univention-licence-python/setup.py
  base/univention-python-heimdal/setup.py
  base/univention-python/setup.py
  management/univention-appcenter/packaging.py
  management/univention-directory-listener/setup.py
  management/univention-directory-manager-modules/modules/univention/admin/hook.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-portal/setup.py
  packaging/univention-l10n/univention/l10n/umc.py
  packaging/univention-unittests/setup.py
  services/univention-radius/setup.py
Due: deb-pipeline

refactor(python): drop Python 2 support: inspect.getargspec()
  management/univention-appcenter/python/appcenter/app.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
  management/univention-management-console/src/univention/management/console/modules/decorators.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

refactor(python): drop Python 2 support: imp
  base/univention-lib/python/ldap_extension.py
  base/univention-pam/well-known-sid-name-mapping.py
Due: deb-pipeline

refactor(python): UP012
  base/univention-debug-python/tests/test_debug.py
  mail/univention-mail-dovecot/modules/univention/mail/dovecot_shared_folder.py
  management/univention-directory-notifier/univention-translog
  oidc/python-keycloak/keycloak/tests/test_connection.py
  test/ucs-test/tests/09_updater/proxy.py
  test/ucs-test/tests/10_ldap/41listener_module_api_test.py
Due: deb-pipeline

Bug #46120: rebase UCR templates (univention-saml)
  saml/univention-saml/conffiles/etc/simplesamlphp/00authsources.php
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
Due: deb-pipeline

chore(changelog): add changelog entry
  doc/changelog/staged/changelog-general.56604.rst
Due: doc-pipeline

fix(base-files): /sbin/udevadm → /bin/udevadm
  base/univention-base-files/conffiles/xkbKeyboard.py
  doc/changelog/staged/changelog-basis-ucr-template.56665.rst
Due: doc-pipeline, deb-pipeline

Bug #55915: replace `imghdr` import with `filetype`
  management/univention-portal/debian/control
  management/univention-portal/python/univention/portal/extensions/reloader.py
Due: deb-pipeline

Bug #55915: remove `unicode` backward compatability
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
Due: deb-pipeline

WIP: remove saml joinscript
  saml/univention-saml/91univention-saml.inst
Due: deb-pipeline

refactor(bootsplash): shellcheck
  base/univention-bootsplash/univention-welcome-screen
Due: deb-pipeline

Bug #55915: removed typing.Text because it's deprecated
  base/univention-updater/modules/univention/updater/tools.py
Due: deb-pipeline

fix(docker): replace patch with systemd drop-in
  container/univention-docker/debian/univention-docker.install
  container/univention-docker/systemd/20-univention-firewall.conf
Due: deb-pipeline

refactor(python): Drop python3-typing-extensions
  management/univention-directory-manager-modules/modules/univention/admin/modules.py
Due: deb-pipeline

chore: set --ucsversionstart flag to 5.0-6
  doc/changelog/staged/changelog-general.56124.rst
  doc/manual/central-management-umc/portal.rst
  doc/manual/locales/de/LC_MESSAGES/central-management-umc.po
  mail/univention-fetchmail/92univention-fetchmail-schema.inst
  management/univention-appcenter/30univention-appcenter.inst
  management/univention-join/20univention-join.inst
  management/univention-portal/33univention-portal.inst
  management/univention-self-service/univention-self-service-register-acl
  monitoring/univention-monitoring-client/30univention-monitoring-client.inst
  services/univention-radius/80univention-radius.inst
  services/univention-s4-connector/97univention-s4-connector.inst
Due: doc-pipeline, deb-pipeline

Bug #55915: replace `cgi` import with `email`
  base/univention-system-activation/src/wsgi.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
