Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #46120: update univention-mail-dovecot templates
  mail/univention-mail-dovecot/conffiles/etc/default/dovecot
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-auth.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-logging.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-mail.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-master.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-ssl.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/15-lda.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/15-mailboxes.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/20-imap.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/20-lmtp.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/20-managesieve.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/20-pop3.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/90-quota.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/90-sieve.conf
  mail/univention-mail-dovecot/conffiles/etc/dovecot/dovecot.conf
Due: deb-pipeline

Bug #46120: Update univention-nagios templates
  monitoring/univention-nagios/conffiles/etc/init.d/nagios-nrpe-server
Due: deb-pipeline

Bug #46120: Update univention-mail-postfix templates
  mail/univention-mail-postfix/conffiles/etc/init.d/postfix
Due: deb-pipeline

Bug #46120: update univention-apache templates
  services/univention-apache/conffiles/etc/default/apache2
  services/univention-apache/debian/univention-apache.maintscript
Due: deb-pipeline

Bug 46120: update univention-base-files inputrc template
  base/univention-base-files/conffiles/etc/inputrc
Due: deb-pipeline

fix(scenarios): create new function for PostgreSQL migration in update scenarios
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
  test/utils/utils.sh
Due: none

fixup! Bug #46120: Update univention-radius templates
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/eap
Due: deb-pipeline

Bug #46120: Update univention-radius templates
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/eap
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/ldap
  services/univention-radius/conffiles/etc/freeradius/3.0/mods-available/mschap
  services/univention-radius/conffiles/etc/freeradius/3.0/radiusd.conf
  services/univention-radius/conffiles/etc/freeradius/3.0/sites-available/default
  services/univention-radius/conffiles/etc/freeradius/3.0/sites-available/inner-tunnel
Due: deb-pipeline

update UCR template pg_hba.conf
  management/univention-appcenter/conffiles/etc/postgresql/15/main/pg_hba.conf.d/10-appcenter
  services/univention-postgresql/conffiles/etc/postgresql/15/main/pg_hba.conf.d/99-pg_hba.conf
Due: deb-pipeline

fix(univention-fix-ucr-dns): DNS @ unjoined memberserver
  base/univention-server/debian/changelog
  base/univention-server/univention-fix-ucr-dns
  doc/errata/staging/univention-server.yaml
Due: deb-pipeline

Bug #56741: libx11 ANNOUNCE
  doc/errata/published/2023-10-18_840_libx11.yaml
Due: none

Bug #56745: curl ANNOUNCE
  doc/errata/published/2023-10-18_839_curl.yaml
Due: none

Bug #56738: memcached ANNOUNCE
  doc/errata/published/2023-10-18_842_memcached.yaml
Due: none

Bug #56744: libxpm ANNOUNCE
  doc/errata/published/2023-10-18_841_libxpm.yaml
Due: none

Bug #56740: nghttp2 ANNOUNCE
  doc/errata/published/2023-10-18_843_nghttp2.yaml
Due: none

Bug #56579: pam-runasroot ANNOUNCE
  doc/errata/published/2023-10-18_844_pam-runasroot.yaml
Due: none

Bug #56739: python3.7 ANNOUNCE
  doc/errata/published/2023-10-18_847_python3.7.yaml
Due: none

Bug #56746: poppler ANNOUNCE
  doc/errata/published/2023-10-18_845_poppler.yaml
Due: none

Bug #56743: python-urllib3 ANNOUNCE
  doc/errata/published/2023-10-18_846_python-urllib3.yaml
Due: none

Bug #56729: univention-directory-replication ANNOUNCE
  doc/errata/published/2023-10-18_848_univention-directory-replication.yaml
Due: none

Bug #53860,Bug #56660: univention-portal ANNOUNCE
  doc/errata/published/2023-10-18_849_univention-portal.yaml
Due: none

Bug #56742: grub-efi-amd64-signed ANNOUNCE
  doc/errata/published/2023-10-18_851_grub-efi-amd64-signed.yaml
Due: none

Bug #56517: univention-updater ANNOUNCE
  doc/errata/published/2023-10-18_850_univention-updater.yaml
Due: none

Bug #56742: grub2 ANNOUNCE
  doc/errata/published/2023-10-18_852_grub2.yaml
Due: none

fix(utils.sh): Fix GRUB root device
  test/utils/utils.sh
Due: none

fix(utils.sh): Disable DNS via DHCP
  test/utils/utils.sh
Due: none

fixup! Bug #56722: Advisory
  doc/errata/staging/samba.yaml
Due: none

Bug #52174: Revert "fix(utils.sh): Disable DNS via DHCP"
  test/utils/utils.sh
Due: none

Revert "fix(utils.sh): Disable DNS via DHCP"
  test/utils/utils.sh
Due: none

Bug #56324: univention-monitoring-client 1.0.2-4
  doc/errata/published/2023-07-19_743_univention-monitoring-client.yaml
Due: none

doc(architecture): Fix reference to dev reference
  doc/architecture/services/ucr.rst
Due: doc-pipeline

Bug #56722: samba ANNOUNCE
  doc/errata/published/2023-10-19_1499_samba.yaml
Due: none

doc(architecture): Spelling
  doc/architecture/concepts/domain.rst
  doc/architecture/index.rst
Due: doc-pipeline

Bug #56697: Add folder and structure for UCS for Debian Admins manual
  doc/debian-admins/Makefile
  doc/debian-admins/conf.py
  doc/debian-admins/index.rst
Due: doc-pipeline

fixup! Bug #56697: Add folder and structure for UCS for Debian Admins manual
  doc/debian-admins/conf.py
Due: doc-pipeline
