Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

make docker startable: /etc/docker/daemon.json contains the options too. docker doesnt like if both exists
  container/univention-docker/conffiles/etc/default/docker
Due: deb-pipeline

replace hashlib.md4 with passlib.hash as OpenSSL dropped md4 support
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: deb-pipeline

collections
  management/univention-directory-listener/python/univention/listener/handler_logging.py
Due: deb-pipeline

libnss-ldap → nss-pam-ldapd
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/11univention-pam.inst
  base/univention-pam/conffiles/etc/nslcd.conf
  base/univention-pam/conffiles/etc/pam_ldap.conf
  base/univention-pam/debian/control
  base/univention-pam/debian/ucslint.overrides
  base/univention-pam/debian/univention-pam.maintscript
  base/univention-pam/debian/univention-pam.preinst
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/debian/univention-pam.univention-config-registry-variables
  base/univention-pam/univention-libnss-ldap
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/31_file_permissions.py
Due: deb-pipeline

update php-krb5 to 1.1.5
  saml/php-krb5/debian/rules
  saml/php-krb5/krb5-1.1.3.tgz
  saml/php-krb5/krb5-1.1.5.tgz
Due: deb-pipeline

DROPME: as the code has no license and was taken from a gist eb6dfc2c31d3dc8c34508f4fd091cea9
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: deb-pipeline

replace obsolete ldap client -h/-p options
  base/univention-licence/tools/univention-license-import.in
  base/univention-server/server_password_change
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/setup_utils.sh
  management/univention-directory-listener/doc.34355/common.sh
  management/univention-join/check_join_status.sh
  management/univention-join/univention-join
  monitoring/univention-nagios/usr/lib/nagios/plugins/check_univention_joinstatus
  saml/univention-saml/91univention-saml.inst
  services/univention-samba4/96univention-samba4.inst
  services/univention-samba4/debian/univention-samba4.postinst
  services/univention-samba4/lib/base.sh
Due: deb-pipeline

Issue #1733: fix Jenkins job for ox-connector
  test/product-tests/component/ox-connector.cfg
  test/product-tests/component/ox-connector.sh
Due: none

Bug #56558: python-django ANNOUNCE
  doc/errata/published/2023-09-13_1474_python-django.yaml
Due: none

Bug #56557: memcached ANNOUNCE
  doc/errata/published/2023-09-13_1473_memcached.yaml
Due: none

Bug #56563: libssh2 ANNOUNCE
  doc/errata/published/2023-09-13_802_libssh2.yaml
Due: none

Bug #56560: memcached ANNOUNCE
  doc/errata/published/2023-09-13_803_memcached.yaml
Due: none

Bug #56421: univention-appcenter 9.0.9-1
  doc/errata/staging/univention-appcenter.yaml
Due: none

Bug #55694: End-of-life 5.0-3
  doc/errata/staging/0security-template.yaml
Due: none

Bug #56421: univention-appcenter ANNOUNCE
  doc/errata/published/2023-09-13_804_univention-appcenter.yaml
Due: none

test(vm): Ignore AWS-EC2 issues
  test/utils/vm-ucs-image-check
Due: none

test: Fix broken output format
  test/ucs-test/univention/testing/data.py
Due: deb-pipeline

test: Do NOT run samab-env in parallel
  test/scenarios/install-testing/net-installer.cfg
  test/scenarios/install-testing/samba-env.cfg
Due: none

fix(vnc): click on text field to continue
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

perf(vnc): Do not wait 9m for not-working network
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

fix(vnc): Exception handling 2
  test/utils/installation_test/appliance-vnc-setup.py
Due: none

feat(UDM-REST): add test wrapper around UDM-REST-Client to allow autocleanup of objects after test
  management/univention-directory-manager-rest/src/univention/admin/rest/client/test_client.py
Due: deb-pipeline

wip saving some dev-related files for now
  .gitlab-ci/pip-packages.yml
  management/univention-directory-manager-rest/pyproject.toml
  management/univention-directory-manager-rest/test-client/pyproject.toml
  management/univention-directory-manager-rest/test-client/univention/admin/rest/client/test_client.py
  sample_udm_call.py
  test/ucs-test/tests/82_saml/100_keycloak_login.py
Due: deb-pipeline

fixup! feat(UDM-REST): add test wrapper around UDM-REST-Client to allow autocleanup of objects after test
  management/univention-directory-manager-rest/test-client/univention/admin/rest/client/test_client.py
Due: deb-pipeline

wip hatch build backend
  management/univention-directory-manager-rest/pyproject.toml
  management/univention-directory-manager-rest/src/pyproject.toml
Due: deb-pipeline

fix(udm-modules): Use subsyntax to parse items in ListOfItems
  management/univention-directory-manager-modules/modules/univention/admin/types.py
Due: deb-pipeline

feat: make UDM REST API Client pip-installable
  management/univention-directory-manager-rest/src/pyproject.toml
  management/univention-directory-manager-rest/test-client/pyproject.toml
Due: deb-pipeline

ci(udm-rest): publish pip package of udm-rest-client and testing-client
  .gitlab-ci.yml
  .gitlab-ci/pip-packages.yml
Due: none

fix(UDM-REST): fix typing of delete function
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/client/test_client.py
Due: deb-pipeline

ci(pip-packages): hatch pipeline testing
  .gitlab-ci/pip-packages.yml
  management/univention-directory-manager-rest/pyproject.toml
Due: deb-pipeline

ci(pip-packaging): first experiment with generated pipelines
  .gitlab-ci.yml
  .gitlab-ci/base-pip.yml
  .gitlab-ci/base.yml
  .gitlab-ci/pip-packages.yml
  management/univention-directory-manager-rest/pyproject.toml
Due: deb-pipeline

Bug #52122: Add link for Nagios docs to redirects in manual
  doc/manual/handbuch-5.0.html
  doc/manual/manual-5.0.html
Due: doc-pipeline

Drop Python 2 binary packages
  base/univention-app-appliance/debian/control
  base/univention-config-registry/debian/control
  base/univention-debug-python/debian/control
  base/univention-ipcalc/debian/control
  base/univention-lib/debian/control
  base/univention-licence-python/debian/control
  base/univention-licence-python/debian/rules
  base/univention-python-heimdal/debian/control
  base/univention-python/debian/control
  base/univention-updater/debian/control
  management/univention-appcenter/debian/control
  management/univention-directory-manager-modules/debian/control
  management/univention-directory-manager-rest/debian/control
  management/univention-directory-reports/debian/control
  management/univention-management-console/debian/control
  packaging/univention-debhelper/debian/control
  packaging/univention-package-template-python/debian/control
  packaging/univention-unittests/debian/control
  services/univention-ad-connector/debian/control
  services/univention-admin-diary/debian/control
  services/univention-pkgdb/debian/control
  services/univention-radius/debian/control
  services/univention-s4-connector/debian/control
Due: deb-pipeline

s4c: adjust to upstream change; temp- workaround; TODO: analyze
  services/univention-s4-connector/modules/univention/s4connector/s4/dns.py
Due: deb-pipeline

DROPME: SIGKILL dhcpd
  services/univention-dhcp/univention-dhcp.conf
Due: deb-pipeline

univention-unittest: execute with Python 3 only
  packaging/univention-unittests/univention-unittest
Due: deb-pipeline

FTBFS: FIXME univention-updater
  base/univention-updater/tests/test_tools.py
Due: deb-pipeline

DHCP restart doesn't work in 5.1 which inhibits the update
  services/univention-dhcp/debian/univention-dhcp.postinst
Due: deb-pipeline

fix(umc): Migrate to Python 3
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
