Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

Bug #55747: keycloak test
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/conftest.py
Due: deb-pipeline

Bug #55747: keycloak test
  test/ucs-test/debian/changelog
  test/ucs-test/tests/81_keycloak/04_misc.py
Due: deb-pipeline

fixup! Bug #55866: run keycloak init only once in domain
  services/univention-keycloak/debian/changelog
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

Bug #55866: advisory
  doc/errata/staging/univention-keycloak.yaml
Due: none

fix(update-testing): Failing checks v2
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
Due: none

fixup! Issue #65: added backup1 to ucs perf env template
  test/scenarios/kvm-templates/primary-with-200000-users-kvm-template.cfg
Due: none

fix(update-testing): Failing checks v3
  test/scenarios/update-testing/update-from-1.2-backup2master.cfg
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
  test/scenarios/update-testing/update-from-4.2-4.cfg
  test/utils/utils.sh
Due: none

fix(update-testing): Failing checks v4
  test/utils/utils.sh
Due: none

fixup! Issue #65: added backup1 to ucs perf env template
  test/utils/utils.sh
Due: none

fixup! Bug #55866: run keycloak init only once in domain
  services/univention-keycloak/scripts/univention-keycloak
Due: deb-pipeline

docs(ucs-test): describe file extensions
  test/ucs-test/README.md
Due: deb-pipeline

Issue #43375: change username fl-hawkins
  test/utils/ram/utils-ram.sh
Due: none

Bug #31771: add makefile as convenience wrapper for pre-commit
  Makefile
Due: none

refactor(ucslint): remove flake8 leftovers
  packaging/ucslint/Dockerfile
  packaging/ucslint/setup.cfg
Due: prepare ucslint, deb-pipeline

Bug #55895: firefox-esr 102.9.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #55896: imagemagick 8:6.9.10.23+dfsg-2.1+deb10u4
  doc/errata/staging/imagemagick.yaml
Due: none

Bug #55897: pcre2 10.32-5+deb10u1
  doc/errata/staging/pcre2.yaml
Due: none

Bug #55898: pcre2 10.22-3+deb9u1
  doc/errata/staging/pcre2.yaml
Due: none

Bug #55899: imagemagick 8:6.9.7.4+dfsg-11+deb9u17
  doc/errata/staging/imagemagick.yaml
Due: none

Bug #55900: sox 14.4.1-5+deb9u4
  doc/errata/staging/sox.yaml
Due: none

Bug #55529: univention-management-console Advisory + changelog
  doc/errata/staging/univention-management-console.yaml
  management/univention-management-console/debian/changelog
Due: deb-pipeline

Bug #55529: add umc/login/password-complexity-message/* to password reset error message and create new acount
  management/univention-self-service/umc/python/passwordreset/__init__.py
  management/univention-self-service/umc/python/passwordreset/de.po
Due: deb-pipeline

Bug #55529: add umc/login/password-complexity-message/* to password change error message
  management/univention-management-console/src/univention/management/console/auth.py
  management/univention-management-console/src/univention/management/console/pam.py
Due: deb-pipeline

Bug #55529: univention-self-service Advisory + changelog
  doc/errata/staging/univention-self-service.yaml
  management/univention-self-service/debian/changelog
Due: deb-pipeline

Bug #55529: Add new ucs-test to check the password complexity message
  test/ucs-test/tests/83_self_service/09_check_password_complexity_message.py
  test/ucs-test/tests/83_self_service/test_self_service.py
Due: deb-pipeline

Bug #55529: ucs-test changelog
  test/ucs-test/debian/changelog
Due: deb-pipeline
