Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

fix(license-import): do not leak password in process list
  base/univention-licence/debian/changelog
  base/univention-licence/tools/univention-license-import.in
  doc/errata/staging/univention-licence.yaml
Due: deb-pipeline

fix(udm): do not leak password in process list
  doc/errata/staging/univention-directory-manager-modules.yaml
  management/univention-directory-manager-modules/debian/changelog
  management/univention-directory-manager-modules/scripts/fix_primary_group_membership
Due: deb-pipeline

fix(samba): do not leak password in process list
  doc/errata/staging/univention-samba.yaml
  services/univention-samba/26univention-samba.inst
  services/univention-samba/debian/changelog
Due: deb-pipeline

fix(samba4): do not leak password in process list
  doc/errata/staging/univention-samba4.yaml
  services/univention-samba4/debian/changelog
  services/univention-samba4/debian/univention-samba4.postinst
Due: deb-pipeline

fix(nagios): do not leak password in process list
  doc/errata/staging/univention-nagios.yaml
  monitoring/univention-nagios/debian/changelog
  monitoring/univention-nagios/usr/lib/nagios/plugins/check_univention_joinstatus
Due: deb-pipeline

fix(directory-replication): do not leak password in process list
  doc/errata/staging/univention-directory-replication.yaml
  management/univention-directory-replication/debian/changelog
  management/univention-directory-replication/univention-directory-replication-resync
Due: deb-pipeline

fix(backup2master): do not leak password in process list
  doc/errata/staging/univention-ldap.yaml
  management/univention-ldap/debian/changelog
  management/univention-ldap/univention-backup2master
Due: deb-pipeline

chore(advisory): mark advisory as security issue
  doc/errata/staging/univention-directory-listener.yaml
  doc/errata/staging/univention-directory-manager-modules.yaml
  doc/errata/staging/univention-directory-replication.yaml
  doc/errata/staging/univention-ldap.yaml
  doc/errata/staging/univention-licence.yaml
  doc/errata/staging/univention-nagios.yaml
  doc/errata/staging/univention-samba.yaml
  doc/errata/staging/univention-samba4.yaml
Due: none

Bug #56761: nghttp2 fix typo
  doc/errata/published/2023-10-25_1505_nghttp2.yaml
Due: none

Bug #56354: Advisory typo
  doc/errata/staging/univention-ldap.yaml
Due: none

Bug #56499: Add official CVE
  doc/errata/published/2023-08-30_794_univention-samba4.yaml
Due: none

docs(umc): remove references to unused UMCP
  base/univention-l10n-fr/fr/management/univention-management-console/src/univention/management/console/fr.po
  base/univention-l10n-fr/fr/management/univention-web/js/fr.po
  base/univention-updater/umc/js/updater/Form.js
  doc/developer-reference/umc/local-system-module.rst
  management/univention-management-console-module-ucr/umc/python/ucr/__init__.py
  management/univention-management-console-module-udm/umc/js/udm.js
  management/univention-management-console/umc-module-templates/grid_with_detailpage/umc/js/MODULEID.js
  management/univention-self-service/doc/sd_password_reset_request.svg
  management/univention-self-service/doc/sd_password_reset_wish.svg
  management/univention-self-service/doc/sd_set_contact.svg
  management/univention-self-service/doc/sd_set_password_with_token_in_URI_POST.svg
  management/univention-self-service/doc/sd_set_password_with_token_in_form.svg
  management/univention-web/js/de.po
  management/univention-web/js/en.po
  management/univention-web/js/store.js
  management/univention-web/js/tools.js
  management/univention-web/js/widgets/Form.js
  management/univention-web/js/widgets/Grid.js
  management/univention-web/js/widgets/MixedInput.js
  management/univention-web/js/widgets/MultiUploader.js
  management/univention-web/js/widgets/TextArea.js
  management/univention-web/js/widgets/TextBox.js
  management/univention-web/js/widgets/Uploader.js
  management/univention-web/js/widgets/_SelectMixin.js
  test/ucs-test/tests/60_umc/05_get_client_ip_address.py
Due: doc-pipeline, deb-pipeline

Bug #56776: openjdk-11 11.0.21+9-1~deb10u1
  doc/errata/staging/openjdk-11.yaml
Due: none

Bug #56777: xorg-server 2:1.20.4-1+deb10u10
  doc/errata/staging/xorg-server.yaml
Due: none

Bug #56778: dbus 1.12.28-0+deb10u1
  doc/errata/staging/dbus.yaml
Due: none

Bug #56779: nss 2:3.42.1-1+deb10u7
  doc/errata/staging/nss.yaml
Due: none

Bug #56780: firefox-esr 115.4.0esr-1~deb10u1
  doc/errata/staging/firefox-esr.yaml
Due: none

Bug #56781: krb5 1.15-1+deb9u5
  doc/errata/staging/krb5.yaml
Due: none

Bug #56782: dbus 1.10.32-0+deb9u3
  doc/errata/staging/dbus.yaml
Due: none

Bug #56783: libmspack 0.5-1.A~4.4.9.202310301240
  doc/errata/staging/libmspack.yaml
Due: none

Bug #56784: xorg-server 2:1.19.2-1+deb9u15
  doc/errata/staging/xorg-server.yaml
Due: none

Bug #56785: openjdk-8 8u392-ga-1~deb9u1
  doc/errata/staging/openjdk-8.yaml
Due: none

Bug #56786: gst-plugins-bad1.0 1.10.4-1+deb9u4
  doc/errata/staging/gst-plugins-bad1.0.yaml
Due: none

Bug #56787: libhttp-daemon-perl 6.01-1.A~4.4.9.202310301240
  doc/errata/staging/libhttp-daemon-perl.yaml
Due: none

Bug #53944: Fix english wording
  doc/ext-windows/index.rst
Due: doc-pipeline

Bug #53944: Update documentation
  doc/ext-windows/index.rst
Due: doc-pipeline

Bug #53944: Add test admember-w2019-english-forest-child
  test/scenarios/ad-membermode/autotest-240-admember-w2019-english-forest-child.cfg
Due: none

Bug #53944: Make UCS and AD use different domain names in adsync-w2k19-english-forest-child
  test/scenarios/ad-connector/autotest-240-adsync-w2k19-english-forest-child.cfg
Due: none

Bug #53944: Add support for AD Forest subdomains to AD-Connector
  services/univention-ad-connector/modules/univention/connector/ad/__init__.py
  test/scenarios/ad-connector/autotest-240-adsync-w2k19-english-forest-child.cfg
Due: deb-pipeline

Bug #53944: Test prepare-new-instance for AD-Connector
  test/scenarios/ad-connector/autotest-241-adsync-w2k19-english-two-forest-children.cfg
  test/utils/ad-join.py
Due: none

Bug #53944: Changelog and Advisory
  doc/errata/staging/univention-ad-connector.yaml
  services/univention-ad-connector/debian/changelog
Due: deb-pipeline
