Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

fix(simplesamlphp): rebase to upstream
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
  saml/univention-saml/listener/univention-saml-simplesamlphp-configuration.py
  saml/univention-saml/simplesamlphp/modules/uldap/lib/Auth/Source/uLDAP.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/core/frontpage_welcome.tpl.php
  saml/univention-saml/simplesamlphp/modules/univentiontheme/themes/univention/default/includes/header.php
Due: deb-pipeline

feat(udm): remove UCR variable directory/manager/user/group-memberships-via-memberof=false
  doc/changelog/staged/changelog-umc-udmcli.56253.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
Due: doc-pipeline, deb-pipeline

test(check-ucr-templates): test idempotency with python 3 only
  test/ucs-test/tests/03_ucr/37check-ucr-templates-py3-migration-status.py
Due: deb-pipeline

feat(univention-unittest): execute with Python 3 only
  packaging/univention-unittests/univention-unittest
Due: deb-pipeline

fix(umc): remove leftover UMCP
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/staged/changelog-umc.56538.rst
  management/univention-management-console/data/umc-module.dtd
  management/univention-management-console/debian/control
  management/univention-management-console/debian/univention-management-console-server.service
  management/univention-management-console/debian/univention-management-console-web-server.prerm
  management/univention-management-console/debian/univention-management-console-web-server.service
  management/univention-management-console/scripts/univention-management-console-module
  management/univention-management-console/setup.py
  management/univention-management-console/src/univention/management/console/base.py
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/modules/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/definitions.py
  management/univention-management-console/src/univention/management/console/protocol/deprecated.py
  management/univention-management-console/src/univention/management/console/protocol/message.py
  management/univention-management-console/src/univention/management/console/protocol/session.py
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: doc-pipeline, deb-pipeline

fix(pam): replace upstream removed libpam-cracklib with libpam-pwquality
  base/univention-errata-level/maintained-packages.txt
  base/univention-pam/conffiles/etc/pam.d/common-password
  base/univention-pam/debian/control
  base/univention-pam/tests/test_common_all
  base/univention-pam/tests/test_common_cache
  base/univention-pam/tests/test_common_default
  base/univention-pam/tests/test_common_krb5
  base/univention-pam/tests/test_common_ldap
  base/univention-pam/tests/test_common_none
  base/univention-pam/tests/test_common_unix
  base/univention-pam/tests/test_common_winbind
  doc/changelog/staged/changelog-service-pam.56002.rst
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/80_password
Due: doc-pipeline, deb-pipeline

chore(postgresql): remove obsolete pam-config
  services/univention-postgresql/40univention-postgresql.inst
  services/univention-postgresql/conffiles/etc/pam.d/postgresql
  services/univention-postgresql/conffiles/etc/postgresql/pam_ldap.conf
  services/univention-postgresql/debian/rules
  services/univention-postgresql/debian/univention-postgresql.install
  services/univention-postgresql/debian/univention-postgresql.maintscript
  services/univention-postgresql/debian/univention-postgresql.univention-config-registry
  services/univention-postgresql/univention-postgresql-password
  test/utils/utils.sh
Due: deb-pipeline

fix(ldap): Always enable ppolicy module because it provides the schema necessary to create our internal entries
  doc/manual/appendix/variables.rst
  doc/manual/locales/de/LC_MESSAGES/appendix.po
  doc/manual/locales/de/LC_MESSAGES/user-management.po
  doc/manual/user-management/user-lockout.rst
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/31modules
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/40univention-ldap-server_database
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry
  management/univention-ldap/debian/univention-ldap-server.univention-config-registry-variables
  test/ucs-test/tests/10_ldap/50ppolicy_account_lockout
  test/ucs-test/tests/10_ldap/56ppolicy_account_lockout_concurrent
Due: doc-pipeline, deb-pipeline

refactor(memberof): require memberof to be enabled
  base/univention-system-setup/umc/python/setup/checks/univention_join.py
  base/univention-system-setup/umc/python/setup/util.py
  base/univention-system-setup/usr/share/univention-system-setup/www/ApplianceWizard.js
  doc/changelog/staged/changelog-domain-openldap.56662.rst
  doc/changelog/staged/relnotes-changelog.56662.rst
  doc/manual/appendix/variables.rst
  doc/manual/groups.rst
  doc/manual/locales/de/LC_MESSAGES/groups.po
  management/univention-directory-replication/replication.py
  management/univention-join/univention-join
  management/univention-ldap-overlay-memberof/conffiles/etc/ldap/slapd.conf.d/41univention-ldap-overlay-memberof
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.postinst
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.univention-config-registry-variables
  management/univention-ldap-overlay-memberof/univention-update-memberof
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/58_check_memberOf.py
  test/ucs-test/tests/10_ldap/92_memberOf
Due: doc-pipeline, deb-pipeline

refactor(grub): disable serial memtest grub entries
  base/univention-grub/conffiles/etc/default/grub
Due: deb-pipeline

UCS 5.2 preup
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
  test/utils/utils.sh
Due: none

fix(docker): adjust docker configuration template to changed CLI arguments
  container/univention-docker/conffiles/etc/default/docker
  container/univention-docker/conffiles/etc/docker/daemon.json
Due: deb-pipeline

chore(saml): Update to PHP 7.4
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/changelog-service-saml.55999.rst
  saml/univention-saml/scripts/php-cgi
Due: doc-pipeline, deb-pipeline

fix(UDL): Migrate univention-directory-listener to Python 3.9
  doc/changelog/staged/changelog-domain-openldap-replication.56533.rst
  management/univention-directory-listener/src/Makefile
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: doc-pipeline, deb-pipeline

fix(lib): Adapt package mangager to python-apt changes
  base/univention-lib/python/package_manager.py
  doc/changelog/staged/changelog-general.56536.rst
Due: doc-pipeline, deb-pipeline

feat(appcenter): Add Postgres 13 support for Docker Apps
  management/univention-appcenter/conffiles/etc/postgresql/13/main/pg_hba.conf.d/10-appcenter
  management/univention-appcenter/debian/python3-univention-appcenter.univention-config-registry
Due: deb-pipeline

fix(univention-ssh): adjust to openssh change
  base/univention-ssh/univention-ssh.in
  doc/changelog/staged/changelog-basis-other.56593.rst
Due: doc-pipeline, deb-pipeline

feat(udm): remove configurability of country/state property
  doc/changelog/staged/changelog-umc-udmcli.56528.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/scripts/udm-remap-country-from-st-to-c
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/66_udm_country_remap_from_st_to_c.py
  test/ucs-test/tests/00_checks/81_diagnostic_checks.py
  test/ucs-test/tests/59_udm/71_test_udm_settings_usertemplate.py
Due: doc-pipeline, deb-pipeline

fix(ldap): Make include of ppolicy.schema optional so that we can remove it in UCS 5.2
  management/univention-ldap/conffiles/etc/ldap/slapd.conf.d/10univention-ldap-server_schema
Due: deb-pipeline

chore(php-krb5): update php-krb5 to 1.1.5
  saml/php-krb5/debian/rules
  saml/php-krb5/krb5-1.1.3.tgz
  saml/php-krb5/krb5-1.1.5.tgz
Due: deb-pipeline

fix(radius): add /etc/freeradius.secret credentials file
  doc/changelog/staged/changelog-service-radius.55963.rst
  services/univention-radius/80univention-radius.inst
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/modules/univention/radius/networkaccess.py
  services/univention-radius/usr/lib/univention-server/server_password_change.d/univention-radius
  services/univention-radius/usr/sbin/univention-radius-update-clients-conf
Due: doc-pipeline, deb-pipeline

fix(UDL): don't compare with address
  management/univention-directory-listener/src/cache_entry.c
Due: deb-pipeline

fix(udl): Fix listener segfault for modules using new listener api
  management/univention-directory-listener/src/handlers.c
  management/univention-directory-listener/src/handlers.h
Due: deb-pipeline

ci(jenkins): check for LDAP country migration in pre upgrade
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

test(dockertest): Add UCS 5.1 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(pam): replace pam_tally with pam_faillock
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-pam/conffiles/etc/pam.d/common-account
  base/univention-pam/conffiles/etc/pam.d/common-auth-nowrite
  base/univention-pam/conffiles/etc/pam.d/common-auth.d/30univention-pam_local
  base/univention-pam/conffiles/etc/security/faillock.conf
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/faillog.py
  base/univention-pam/lock-user
  doc/changelog/staged/changelog-service-pam.56547.rst
  management/univention-directory-manager-modules/python-lib/account.py
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/30_tally
  test/ucs-test/tests/01_base/47faillog
  test/ucs-test/tests/01_base/47faillog-root
Due: doc-pipeline, deb-pipeline

fix(appcenter): adjust section error in the UMC software packages module
  doc/changelog/staged/changelog-umc-appcenter.56598.rst
  management/univention-appcenter/debian/univention-management-console-module-apps.preinst
  management/univention-appcenter/umc/python/appcenter/__init__.py
Due: doc-pipeline, deb-pipeline

fix(ldap): replace obsolete ldap client -h/-p options
  base/univention-licence/tools/univention-license-import.in
  base/univention-server/server_password_change
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/setup_utils.sh
  doc/changelog/staged/changelog-domain-openldap.55997.rst
  management/univention-directory-listener/doc.34355/common.sh
  management/univention-join/check_join_status.sh
  management/univention-join/univention-join
  monitoring/univention-nagios/usr/lib/nagios/plugins/check_univention_joinstatus
  saml/univention-saml/91univention-saml.inst
  services/univention-samba4/96univention-samba4.inst
  services/univention-samba4/debian/univention-samba4.postinst
  services/univention-samba4/lib/base.sh
  test/ucs-test/tests/10_ldap/110_univention_lastbind.py
Due: doc-pipeline, deb-pipeline

feat(pkgdb): Add Postgres 13 support for pkgdb
  services/univention-pkgdb/conffiles/etc/postgresql/13/main/pg_hba.conf.d/10-pg_hba.conf
  services/univention-pkgdb/debian/univention-pkgdb.univention-config-registry
Due: deb-pipeline

fix(saml): adjust for changed unix-socket connection
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
Due: deb-pipeline

Revert "test(mail): partly revert "use systemctl for reloading amavis and postfix""
  test/ucs-test/tests/40_mail/essential/mail.py
Due: deb-pipeline

refactor(udm): remove decode_ignorelist
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-lib/python/admember.py
  base/univention-python/modules/uldap.py
  doc/changelog/staged/changelog-lib.50343.rst
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  test/ucs-test/univention/testing/utils.py
Due: doc-pipeline, deb-pipeline

fix(saml): remove schema during upgrade to UCS 5.1
  saml/univention-saml/conffiles/etc/ldap/slapd.conf.d/11univention-saml-schema
  saml/univention-saml/debian/univention-saml-schema.maintscript
  saml/univention-saml/debian/univention-saml-schema.univention-config-registry
Due: deb-pipeline

refactor(python): UP026
  packaging/univention-unittests/python/univention/unittests/udm_connection.py
Due: deb-pipeline

feat(udm-rest)!: enhance moving of objects wihtout sub-objects
  doc/changelog/staged/changelog-udm-rest.55019.rst
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
Due: doc-pipeline, deb-pipeline

refactor(python): drop Python 2 support: configparse.read_fp()
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/ini_parser.py
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

Bug #55996: load legacy provider before to enable md4 in univention-radius
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

feat(uvmm): remove UVMM UDM objects from LDAP
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-domain-openldap.56651.rst
Due: doc-pipeline, deb-pipeline
