Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

.gitlab-ci.yml:

stages:
  - prepare
  - build

include:
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - project: univention/dist/docker-services
    file: kaniko.yml
  - local: '/.gitlab-ci/base.yml'

variables:
  pipeline:
    value: ""
    description: "Skip or force jobs: '(skip|force)-(doc|ucslint|build)'"
  BUILD: docker-registry.knut.univention.de/knut/deb-builder

generate-config:
  stage: prepare
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - .gitlab-ci/build-ci
    - >
      deb-builder
      --yaml .gitlab-ci/base.yml
      --yaml .gitlab-ci/base-deb.yml
      --out generated-config-deb.yml
      --skip src:shim
      --skip src:univention-kvm-compat
      --skip src:univention-kvm-virtio
      --skip src:univention-foomatic-ppds
      */*/debian/control
  artifacts:
    paths:
      - generated-config-doc.yml
      - generated-config-deb.yml

prepare aptly:
  stage: prepare
  interruptible: false
  image:
    name: $BUILD
    entrypoint: [""]
  script:
    - "$CI_PROJECT_DIR/.gitlab-ci/aptly-create || :"
    - $CI_PROJECT_DIR/.gitlab-ci/aptly-publish
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $APT/$CI_COMMIT_REF_SLUG/
    on_stop: drop aptly
    auto_stop_in: 6 month

drop aptly:
  stage: prepare
  interruptible: false
  variables:
    GIT_STRATEGY: none
  image: docker-registry.knut.univention.de/curlimages/curl
  script:
    - "curl --silent --show-error -X DELETE $APTLY/publish/$CI_COMMIT_REF_SLUG/git || :"
    - "curl --silent --show-error -X DELETE $APTLY/repos/$CI_COMMIT_REF_SLUG || :"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: never
    - if: $CI_COMMIT_REF_PROTECTED
      when: never
  environment:
    name: $CI_COMMIT_REF_NAME
    action: stop

prepare ucslint:
  stage: prepare
  interruptible: false
  extends: .kaniko_knut
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF
  rules:
    - changes:
      - packaging/ucslint/**/*

doc-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-doc/ || $pipeline =~ /skip-doc/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-doc/ || $pipeline =~ /force-doc/"
    - changes:
      - "doc/[^e]*/**/*"
      - "doc/e[^r]*/**/*"
      - "doc/er[^r]*/**/*"
      - "doc/err[^a]*/**/*"
      - "doc/erra[^t]*/**/*"
      - "doc/errat[^a]*/**/*"
      - "doc/errata?*/**/*"
  needs:
    - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-doc.yml
        job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  rules:
    - if: "$CI_COMMIT_MESSAGE =~ /skip-build/ || $pipeline =~ /skip-build/"
      when: never
    - if: "$CI_COMMIT_MESSAGE =~ /force-ucslint/ || $pipeline =~ /force-ucslint/"
    - if: "$CI_COMMIT_MESSAGE =~ /force-build/ || $pipeline =~ /force-build/"
    - changes:
      - "[^dt]*/*/**/*"
      - "d[^o]*/*/**/*"
      - "do[^c]*/*/**/*"
      - "doc?*/*/**/*"
      - "t[^e]*/*/**/*"
      - "te[^s]*/*/**/*"
      - "tes[^t]*/*/**/*"
      - "test?*/*/**/*"
      - "test/generate-appliance/**/*"
      - "test/ucs-test/**/*"
      - "test/ucs-test-tools/**/*"
      - "test/univention-demo-configuration/**/*"
  needs:
    - job: generate-config
    - job: prepare aptly
    - job: prepare ucslint
      optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
      - artifact: generated-config-deb.yml
        job: generate-config
    strategy: depend

test(docker): remove ucs-appbox tests
  test/ucs-test/tests/80_docker/40_app_install_4_4.py
Due: deb-pipeline

test(vnc-installer): "Return" was not recognized once to Continue
  test/utils/installation_test/vnc-install-ucs.py
Due: none

DROPME: FTBFS: FIXME univention-updater
  base/univention-updater/tests/test_tools.py
Due: deb-pipeline

fix(self-service): remove old frontend
  doc/changelog/staged/changelog-service-selfservice.56601.rst
  management/univention-self-service/Makefile
  management/univention-self-service/README
  management/univention-self-service/conffiles/etc/apache2/sites-available/univention-self-service.conf
  management/univention-self-service/debian/univention-self-service-passwordreset-umc.univention-config-registry
  management/univention-self-service/debian/univention-self-service.install
  management/univention-self-service/debian/univention-self-service.maintscript
  management/univention-self-service/debian/univention-self-service.univention-l10n
  management/univention-self-service/www/CreateAccount.js
  management/univention-self-service/www/NewPassword.js
  management/univention-self-service/www/PageNotFound.js
  management/univention-self-service/www/PasswordBox.js
  management/univention-self-service/www/PasswordChange.js
  management/univention-self-service/www/PasswordForgotten.js
  management/univention-self-service/www/ProtectAccountAccess.js
  management/univention-self-service/www/TextBox.js
  management/univention-self-service/www/UserAttributes.js
  management/univention-self-service/www/VerifyAccount.js
  management/univention-self-service/www/css/custom.css.example
  management/univention-self-service/www/css/icons/error.svg
  management/univention-self-service/www/css/icons/icons-small.svg
  management/univention-self-service/www/css/icons/icons.svg
  management/univention-self-service/www/css/icons/loading-bubbles.gif
  management/univention-self-service/www/css/icons/loading-bubbles.svg
  management/univention-self-service/www/css/icons/tab-buttons.svg
  management/univention-self-service/www/css/icons/tooltip.svg
  management/univention-self-service/www/css/images/background-tile.png
  management/univention-self-service/www/css/images/univention.svg
  management/univention-self-service/www/css/self-service.styl
  management/univention-self-service/www/de.po
  management/univention-self-service/www/index.html
  management/univention-self-service/www/lib.js
  management/univention-self-service/www/main.js
  test/ucs-test/tests/83_self_service/07_test_frontend_links.py
Due: doc-pipeline, deb-pipeline

fix(udm-rest)!: change status code to 202 for move operations
  doc/changelog/staged/changelog-udm-rest.55057.rst
  management/univention-directory-manager-rest/src/univention/admin/rest/module.py
  management/univention-directory-manager-rest/src/univention/admin/rest/openapi.py
Due: doc-pipeline, deb-pipeline

ci(jenkins): check for LDAP country migration in pre upgrade
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

Bug #55996: replace the non-default enabled md4 from hashlib with md4_hash_blob from samba4.crypto
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

Bug #55996: load legacy provider before to enable md4 in univention-radius
  doc/changelog/staged/changelog-service-radius.55996.rst
  services/univention-radius/debian/control
  services/univention-radius/modules/univention/radius/pyMsChapV2.py
Due: doc-pipeline, deb-pipeline

WIP test(docker): transform ucs-appbox tests into tiny_app
  test/ucs-test/tests/80_docker/40_app_umc_install_latest_appbox.py
  test/ucs-test/tests/80_docker/51_app_install.py
  test/ucs-test/tests/80_docker/51_app_install_with_required_app.py
  test/ucs-test/tests/80_docker/54_app_preinst.py
  test/ucs-test/tests/80_docker/55_app_modproxy.py
  test/ucs-test/tests/80_docker/57_app_without_package.py
  test/ucs-test/tests/80_docker/58_app_uninstallation.py
  test/ucs-test/tests/80_docker/61_app_updater_identify.py
  test/ucs-test/tests/80_docker/63_app_register_with_old_app_installed.py
  test/ucs-test/tests/80_docker/68_extended_attributes.py
  test/ucs-test/tests/80_docker/69_app_install_update_remove_hooks.py
  test/ucs-test/tests/80_docker/70_app_scaling.py
  test/ucs-test/tests/80_docker/71_app_configure.py
  test/ucs-test/tests/80_docker/72_app_update_certificates.py
  test/ucs-test/tests/80_docker/73_app_listener_integration.py
  test/ucs-test/tests/80_docker/75_app_ports_exclusive.py
  test/ucs-test/tests/80_docker/76_app_ports_redirect.py
  test/ucs-test/tests/80_docker/77_app_ports_conflicts_exclusive.py
  test/ucs-test/tests/80_docker/78_app_ports_conflicts_redirect.py
  test/ucs-test/tests/80_docker/79_app_ports_already_used.py
  test/ucs-test/tests/80_docker/85_docker_compose.py
  test/ucs-test/tests/80_docker/86_docker_reinitialize.py
  test/ucs-test/tests/80_docker/87_docker_iptables.py
  test/ucs-test/tests/80_docker/88_docker_env_file.py
  test/ucs-test/tests/80_docker/89_app_configure_reinitialize.py
  test/ucs-test/tests/80_docker/92_ucr_template_mechanism_for_DockerScriptInit.py
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(UDM): syntax doctest: use rawstring
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
Due: deb-pipeline

fix(pam): replace pam_tally with pam_faillock
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-pam/conffiles/etc/pam.d/common-account
  base/univention-pam/conffiles/etc/pam.d/common-auth-nowrite
  base/univention-pam/conffiles/etc/pam.d/common-auth.d/30univention-pam_local
  base/univention-pam/conffiles/etc/security/faillock.conf
  base/univention-pam/debian/univention-pam.univention-config-registry
  base/univention-pam/faillog.py
  base/univention-pam/lock-user
  doc/changelog/staged/changelog-service-pam.56547.rst
  management/univention-directory-manager-modules/python-lib/account.py
  management/univention-management-console/conffiles/etc/pam.d/univention-management-console.d/30_tally
  test/ucs-test/tests/01_base/47faillog
  test/ucs-test/tests/01_base/47faillog-root
Due: doc-pipeline, deb-pipeline

feat(udm): remove UDM settings/portal*
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-umc-udmcli.52048.rst
  management/univention-directory-manager-modules/modules/univention/admin/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/de.po
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_all.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_category.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/portal_entry.py
  management/univention-directory-manager-modules/modules/univention/admin/syntax.py
  management/univention-directory-manager-modules/modules/univention/admincli/admin.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/computers_all.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_data.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_category.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/settings_portal_entry.py
  management/univention-management-console-module-udm/35univention-management-console-module-udm.inst
  management/univention-management-console-module-udm/umc/js/udm/PortalContent.js
  management/univention-portal/33univention-portal.inst
  management/univention-portal/debian/univention-portal.install
  management/univention-portal/udm/migrate-to-new-portal
  management/univention-portal/udm/migrate-to-new-portal-during-5.0-dev
  test/ucs-test/tests/86_browser/182_portal_administration_inline_appearance_font_color.py
  test/ucs-test/tests/86_browser/183_portal_administration_inline_appearance_background_css.py
  test/ucs-test/tests/99_end/grep_traceback.py
  test/ucs-test/univention/testing/udm.py
Due: doc-pipeline, deb-pipeline

refactor(memberof): require memberof to be enabled
  base/univention-system-setup/umc/python/setup/checks/univention_join.py
  base/univention-system-setup/umc/python/setup/util.py
  base/univention-system-setup/usr/share/univention-system-setup/www/ApplianceWizard.js
  doc/changelog/staged/changelog-domain-openldap.56662.rst
  doc/changelog/staged/relnotes-changelog.56662.rst
  doc/manual/appendix/variables.rst
  doc/manual/groups.rst
  doc/manual/locales/de/LC_MESSAGES/groups.po
  management/univention-directory-replication/replication.py
  management/univention-join/univention-join
  management/univention-ldap-overlay-memberof/conffiles/etc/ldap/slapd.conf.d/41univention-ldap-overlay-memberof
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.postinst
  management/univention-ldap-overlay-memberof/debian/univention-ldap-overlay-memberof.univention-config-registry-variables
  management/univention-ldap-overlay-memberof/univention-update-memberof
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/58_check_memberOf.py
  test/ucs-test/tests/10_ldap/92_memberOf
Due: doc-pipeline, deb-pipeline

fix(dovecot): option ssl_protocols has been replaced
  doc/changelog/staged/changelog-service-dovecot.56544.rst
  doc/changelog/staged/relnotes-changelog.56544.rst
  mail/univention-mail-dovecot/conffiles/etc/dovecot/conf.d/10-ssl.conf
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry
  mail/univention-mail-dovecot/debian/univention-mail-dovecot.univention-config-registry-variables
Due: doc-pipeline, deb-pipeline

UCS 5.2 preup
  test/scenarios/autotest-070-update-master-no-samba.cfg
  test/scenarios/autotest-070-update-master-part-II-no-samba.cfg
  test/scenarios/autotest-071-update-master-part-II-s4.cfg
  test/scenarios/autotest-071-update-master-s4.cfg
  test/scenarios/autotest-072-update-backup-no-samba.cfg
  test/scenarios/autotest-073-update-backup-s4.cfg
  test/scenarios/autotest-074-update-slave-no-samba.cfg
  test/scenarios/autotest-075-update-slave-s4.cfg
  test/scenarios/autotest-076-update-member-no-samba.cfg
  test/scenarios/autotest-077-update-member-s4.cfg
  test/scenarios/autotest-206-ucsschool-update-singleserver-s4.cfg
  test/scenarios/autotest-208-ucsschool-update-multiserver-s4.cfg
  test/scenarios/s4-connector/update-master-s4connector.cfg
  test/scenarios/update-testing/update-from-2.4-start-4.4-7.cfg
  test/utils/utils.sh
Due: none

test(dockertest): Add UCS 5.1 to local appcenter
  test/ucs-test/tests/80_docker/dockertest.py
Due: deb-pipeline

fix(umc): remove leftover UMCP
  base/univention-errata-level/maintained-packages.txt
  doc/changelog/staged/changelog-umc.56538.rst
  management/univention-management-console/data/umc-module.dtd
  management/univention-management-console/debian/control
  management/univention-management-console/scripts/univention-management-console-module
  management/univention-management-console/setup.py
  management/univention-management-console/src/univention/management/console/base.py
  management/univention-management-console/src/univention/management/console/modserver.py
  management/univention-management-console/src/univention/management/console/module.py
  management/univention-management-console/src/univention/management/console/modules/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/__init__.py
  management/univention-management-console/src/univention/management/console/protocol/definitions.py
  management/univention-management-console/src/univention/management/console/protocol/deprecated.py
  management/univention-management-console/src/univention/management/console/protocol/message.py
  management/univention-management-console/src/univention/management/console/protocol/session.py
  management/univention-management-console/src/univention/management/console/resource.py
  management/univention-management-console/src/univention/management/console/resources.py
Due: doc-pipeline, deb-pipeline

Bug #56667: Update samba bind shared libararies to bind9_16
  services/univention-bind/conffiles/etc/bind/named.conf.samba4
Due: deb-pipeline

fix(appcenter): adjust section error in the UMC software packages module
  doc/changelog/staged/changelog-umc-appcenter.56598.rst
  management/univention-appcenter/debian/univention-management-console-module-apps.preinst
  management/univention-appcenter/umc/python/appcenter/__init__.py
Due: doc-pipeline, deb-pipeline

Revert "test(mail): partly revert "use systemctl for reloading amavis and postfix""
  test/ucs-test/tests/40_mail/essential/mail.py
Due: deb-pipeline

feat(udm): remove configurability of country/state property
  doc/changelog/staged/changelog-umc-udmcli.56528.rst
  management/univention-directory-manager-modules/debian/python3-univention-directory-manager.univention-config-registry-variables
  management/univention-directory-manager-modules/debian/univention-directory-manager-tools.install
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/contact.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/users/user.py
  management/univention-directory-manager-modules/scripts/udm-remap-country-from-st-to-c
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/de.po
  management/univention-management-console-module-diagnostic/umc/python/diagnostic/plugins/66_udm_country_remap_from_st_to_c.py
  test/ucs-test/tests/00_checks/81_diagnostic_checks.py
  test/ucs-test/tests/59_udm/71_test_udm_settings_usertemplate.py
Due: doc-pipeline, deb-pipeline

fix(saml): adjust for changed unix-socket connection
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
Due: deb-pipeline

fix(radius): add /etc/freeradius.secret credentials file
  doc/changelog/staged/changelog-service-radius.55963.rst
  services/univention-radius/80univention-radius.inst
  services/univention-radius/debian/univention-radius.postinst
  services/univention-radius/modules/univention/radius/networkaccess.py
  services/univention-radius/usr/lib/univention-server/server_password_change.d/univention-radius
  services/univention-radius/usr/sbin/univention-radius-update-clients-conf
Due: doc-pipeline, deb-pipeline

refactor(udm): remove decode_ignorelist
  base/univention-base-files/debian/univention-base-files.postinst
  base/univention-lib/python/admember.py
  base/univention-python/modules/uldap.py
  doc/changelog/staged/changelog-lib.50343.rst
  management/univention-directory-manager-modules/modules/univention/admin/uldap.py
  test/ucs-test/univention/testing/utils.py
Due: doc-pipeline, deb-pipeline

refactor(udm-rest): move redirect handling into Session class
  management/univention-directory-manager-rest/src/univention/admin/rest/client/__init__.py
Due: deb-pipeline

Bug #56730: Deactivate LDAP config in dhcpd.conf during UCS 5.1
  doc/changelog/staged/changelog-service-dhcp.56730.rst
  services/univention-dhcp/conffiles/etc/dhcp/dhcpd.conf
Due: doc-pipeline, deb-pipeline

feat(uvmm): remove UVMM UDM objects from LDAP
  base/univention-updater/script/check.sh
  doc/changelog/staged/changelog-domain-openldap.56651.rst
Due: doc-pipeline, deb-pipeline

feat(saml): remove saml/* UDM objects
  base/univention-updater/script/check.sh
  test/utils/utils.sh
Due: deb-pipeline

Bug #46120: rebase UCR templates (univention-saml)
  saml/univention-saml/conffiles/etc/simplesamlphp/00authsources.php
  saml/univention-saml/conffiles/etc/simplesamlphp/config.php
Due: deb-pipeline

DROPME?: allow build timestamps
  base/univention-debug-python/setup.py
  base/univention-ipcalc/setup.py
  base/univention-licence-python/setup.py
  base/univention-python-heimdal/setup.py
  base/univention-python/setup.py
  base/univention-updater/setup.py
  management/univention-appcenter/packaging.py
  management/univention-directory-listener/setup.py
  management/univention-management-console/setup.py
  management/univention-portal/setup.py
  packaging/ucslint/setup.py
  packaging/univention-l10n/debian/control
  packaging/univention-l10n/setup.py
  packaging/univention-unittests/setup.py
  services/univention-radius/setup.py
Due: prepare ucslint, deb-pipeline

feat(updater): remove code to exclude UCS 5.1 from the upgrade-list
  base/univention-updater/umc/js/de.po
  base/univention-updater/umc/js/updater/UpdatesPage.js
  base/univention-updater/umc/python/updater/__init__.py
Due: deb-pipeline

refactor(python): drop Python 2 support: imp
  base/univention-lib/python/ldap_extension.py
  base/univention-pam/well-known-sid-name-mapping.py
Due: deb-pipeline

refactor(python): UP003
  management/univention-directory-manager-modules/modules/univention/admin/handlers/settings/usertemplate.py
Due: deb-pipeline

chore(changelog): add changelog entry
  doc/changelog/staged/changelog-general.56604.rst
Due: doc-pipeline

fix(saml): remove schema during upgrade to UCS 5.1
  saml/univention-saml/conffiles/etc/ldap/slapd.conf.d/11univention-saml-schema
  saml/univention-saml/debian/univention-saml-schema.maintscript
  saml/univention-saml/debian/univention-saml-schema.univention-config-registry
Due: deb-pipeline

refactor(python): drop Python 2 support: configparse.read_fp()
  management/univention-appcenter/python/appcenter/actions/get.py
  management/univention-appcenter/python/appcenter/ini_parser.py
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

refactor(python): drop Python 2 support: inspect.getargspec()
  management/univention-appcenter/python/appcenter/app.py
  management/univention-directory-manager-modules/modules/univention/admin/handlers/__init__.py
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-directory-manager-modules/modules/univention/udm/modules/generic.py
  management/univention-management-console-module-udm/umc/python/udm/udm_ldap.py
  management/univention-management-console/src/univention/management/console/modules/decorators.py
  test/ucs-test/univention/testing/udm.py
Due: deb-pipeline

Bug #55915: remove `try` from `import typing`
  management/univention-directory-manager-modules/modules/univention/admin/mapping.py
  management/univention-management-console/src/univention/management/console/message.py
  management/univention-management-console/src/univention/management/console/pam.py
  packaging/univention-debhelper/univention/debhelper.py
Due: deb-pipeline

refactor(python): UP018
  management/univention-directory-manager-modules/modules/univention/udm/utils.pyi
Due: deb-pipeline

refactor(UCR): drop Python 2 support
  base/univention-config-registry/tests/test_backend.py
Due: deb-pipeline
