Repository univention/univention-corporate-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare ucslint, doc-pipeline, deb-pipeline

prepare ucslint:
  stage: prepare
  interruptible: false
  variables:
    KANIKO_BUILD_CONTEXT: packaging/ucslint
    KANIKO_ARGS: --build-arg ucs=$ucs
    IMAGE_TAG: $LINT_REF

doc-pipeline:
  stage: build
  needs:
  - job: generate-config
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-doc.yml
      job: generate-config
    strategy: depend

deb-pipeline:
  stage: build
  needs:
  - job: generate-config
  - job: prepare aptly
  - job: prepare ucslint
    optional: true
  variables:
    pipeline: $pipeline
  trigger:
    include:
    - artifact: generated-config-deb.yml
      job: generate-config
    strategy: depend

refactor(USS): Rename variables for type change
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapSelf.py
  base/univention-system-setup/umc/python/setup/util.py
Due: deb-pipeline

fix(USS): Remove undefined _*_error variables
  base/univention-system-setup/umc/python/setup/util.py
Due: deb-pipeline

refactor(USS): Stop passing around None
  base/univention-system-setup/umc/python/setup/netconf/modules/LdapNetwork.py
  base/univention-system-setup/umc/python/setup/util.py
  base/univention-system-setup/usr/lib/univention-system-setup/scripts/50_software/10software
Due: deb-pipeline

refactor(USS): Fix bytes encoding
  base/univention-system-setup/umc/python/setup/checks/ldap.py
Due: deb-pipeline

refactor(USS): Code cleanup
  base/univention-system-setup/city-data/_util.py
  base/univention-system-setup/city-data/create_city_data.py
  base/univention-system-setup/city-data/create_country_codes.py
  base/univention-system-setup/city-data/create_country_data.py
  base/univention-system-setup/city-data/create_localized_country_labels.py
  base/univention-system-setup/umc/python/setup/__init__.py
  base/univention-system-setup/umc/python/setup/netconf/__init__.py
  base/univention-system-setup/umc/python/setup/netconf/common.py
  base/univention-system-setup/umc/python/setup/netconf/conditions.py
  base/univention-system-setup/umc/python/setup/network.py
  base/univention-system-setup/umc/python/setup/util.py
Due: deb-pipeline

fix(USS): check_domain_has_activated_license
  base/univention-system-setup/umc/python/setup/checks/univention_join.py
Due: deb-pipeline

refactor(USS): Drop Python 2.x compatibility
  base/univention-system-setup/conffiles/etc/motd.setup
  base/univention-system-setup/debian/control
  base/univention-system-setup/umc/python/setup/netconf/__init__.py
  base/univention-system-setup/umc/python/setup/netconf/common.py
  base/univention-system-setup/umc/python/setup/netconf/conditions.py
Due: deb-pipeline

refactor(USS): dict comprehension
  base/univention-system-setup/umc/python/setup/network.py
Due: deb-pipeline

fix(USS): dhclient code
  base/univention-system-setup/umc/python/setup/util.py
  base/univention-system-setup/usr/share/univention-system-setup/dhclient-script-wrapper
Due: deb-pipeline

doc(AppC): More PEP-484 type hinting
  management/univention-appcenter/python/appcenter/packages.py
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

refactor(AppC): verbose_http_error
  management/univention-appcenter/python/appcenter/utils.py
  management/univention-appcenter/umc/python/appcenter/util.py
Due: deb-pipeline

refactor(AppC): Stop passing around None
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

refactor(AppC): Fix bytes encoding
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

refactor(AppC): Optimize list element de-duplication
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

refactor(AppC): Reorder exception handling
  management/univention-appcenter/python/appcenter/utils.py
Due: deb-pipeline

Issue #11: exec cmd in start-test.sh
  test/utils/start-test.sh
Due: none

style(ip-change): Rename variables
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

refactor(ip-change): Modify host only once
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

fix(ip-change): Filter out self
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

fix(ip-change): Fix function signature
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

refactor(ip-change): Remove unused import
  base/univention-network-manager/univention-register-network-address
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

refactor(network): Switch to singleton UCR
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

refactor(ip-change): Iterate over LDAP search
  management/univention-management-console-module-ipchange/umc/python/ipchange/__init__.py
Due: deb-pipeline

refactor(ip-change): Split large function
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

doc(ip-change): Improve --help output
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

refactor(ip-change): Use set() for interfaces
  base/univention-network-manager/univention-register-network-address
Due: deb-pipeline

fix(USS): Fix netconf module loading
  base/univention-system-setup/debian/changelog
  base/univention-system-setup/umc/python/setup/netconf/modules/__init__.py
  doc/errata/staging/univention-system-setup.yaml
Due: deb-pipeline

test(activate-errata-test-scope.sh)
  test/scenarios/appliance-testing/app-appliance-errata-test.cfg
  test/scenarios/install-testing/samba-env.cfg
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
Due: none

test(utils/set_repository_if_testing)
  test/scenarios/install-testing/ad-member.cfg
  test/scenarios/install-testing/base.cfg
  test/scenarios/install-testing/master-english-static-ip.cfg
  test/scenarios/install-testing/master-french-static-ip.cfg
  test/scenarios/install-testing/master-german.cfg
  test/scenarios/install-testing/net-installer.cfg
  test/scenarios/install-testing/samba-env.cfg
  test/scenarios/install-testing/school-dev.cfg
  test/scenarios/install-testing/school-scope.cfg
  test/scenarios/install-testing/school.cfg
  test/scenarios/ucs-appliance-testing/ad-member-ec2.cfg
  test/scenarios/ucs-appliance-testing/ad-member.cfg
  test/scenarios/ucs-appliance-testing/master-ec2.cfg
  test/scenarios/ucs-appliance-testing/master-slave-ec2.cfg
  test/scenarios/ucs-appliance-testing/master-slave.cfg
  test/scenarios/ucs-appliance-testing/master.cfg
  test/utils/utils.sh
Due: none

style(password-reset): Modernize UCR template
  management/univention-admingrp-user-passwordreset/conffiles/etc/ldap/slapd.conf.d/65admingrp-user-passwordreset
Due: deb-pipeline

Bug #56086: Manual: Use defined German bibliography
  doc/bibliography-de.bib
  doc/manual/conf.py
  doc/manual/links-de.txt
Due: doc-pipeline

Bug #56086: Clarify export CA certificate instructions
  doc/bibliography.bib
  doc/manual/links.txt
  doc/manual/windows/ad-connection.rst
Due: doc-pipeline

Bug #56086: Update German translation for export AD certificate instructions
  doc/manual/locales/de/LC_MESSAGES/windows.po
  doc/manual/spelling_wordlist
Due: doc-pipeline

Bug #56086: ci: Rename deprecated CI_BUILD* variable names
  .gitlab-ci/base-doc.yml
Due: none

Bug #55632: improved the Python 2.7 compatibility of univention-appcenter
  doc/errata/staging/univention-appcenter.yaml
  management/univention-appcenter/debian/changelog
  management/univention-appcenter/python/appcenter/actions/get.py
Due: deb-pipeline

Bug #55698: update version to UCS 5.0-4
  .gitlab-ci/base-doc.yml
  doc/README.md
  doc/architecture/conf.py
  doc/changelog/conf.py
  doc/developer-reference/conf.py
  doc/release-notes/conf.py
Due: doc-pipeline

Bug #55695: remove workaround which prevented UMC service from being restarted
  base/univention-updater/script/enable-apache2-umc
Due: deb-pipeline

Bug #55702: update version to UCS 5.0-4
  test/branch-tests/run.sh
  test/utils/start-test.sh
Due: none

Bug #55695: adjust preup.sh / postup.sh for UCS 5.0-4
  base/univention-updater/debian/changelog
  base/univention-updater/debian/univention-updater.postinst
  base/univention-updater/script/check.sh
Due: deb-pipeline

Bug #56098
  doc/developer-reference/udm/python3-migration.rst
  mail/univention-fetchmail/92univention-fetchmail-schema.inst
  management/univention-appcenter/30univention-appcenter.inst
  management/univention-join/20univention-join.inst
  services/univention-radius/80univention-radius.inst
  services/univention-s4-connector/97univention-s4-connector.inst
Due: doc-pipeline, deb-pipeline

Path conditions:
  prepare ucslint: any of: packaging/ucslint/**/*
  doc-pipeline: any of: doc/[^e]*/**/*, doc/e[^r]*/**/*, doc/er[^r]*/**/*, doc/err[^a]*/**/*, doc/erra[^t]*/**/*, doc/errat[^a]*/**/*, doc/errata?*/**/*
  deb-pipeline: any of: [^dt]*/*/**/*, d[^o]*/*/**/*, do[^c]*/*/**/*, doc?*/*/**/*, t[^e]*/*/**/*, te[^s]*/*/**/*, tes[^t]*/*/**/*, test?*/*/**/*, test/generate-appliance/**/*, test/ucs-test/**/*, test/ucs-test-tools/**/*, test/univention-demo-configuration/**/*
